In [242]:
import pandas as pd
import numpy as np
import os
import pyodbc
from tkinter import Tk, filedialog

### Caminho para o arquivo

In [243]:
# Cria janela para seleção de arquivo
root = Tk()
root.withdraw() # Esconde a janela vazia
root.attributes('-topmost', True) # Coloca o diálogo na frente

# Seleciona arquivo .MDB
caminho = filedialog.askopenfilename(
    title="Selecione o arquivo .MDB",
    initialdir=r"C:\Users\bruno\Desktop\Desenvolvedor\DevelopmentSystemProject_v2\data\COSTPROCE.MDB",
    filetypes=[("Access Database", "*.MDB"), ("All files", "*.*")]
)

# Verificação se o caminho foi encontrado
if not caminho:
    print("❌Nenhum arquivo foi selecionado.")
    exit()

if not os.path.exists(caminho):
    print(f"O arquivo {caminho} não foi encontrado")
    exit()

print(f"✅Arquivo selecionado {caminho}")

✅Arquivo selecionado C:/Users/bruno/Desktop/OneDrive_1_05-01-2026/VARANDA.MDB

In [244]:
# caminho = r"C:\Users\bruno\Desktop\Desenvolvedor\DevelopmentSystemProject_v2\data\COSTPROCE.MDB"
# if not os.path.exists(caminho):
#     print(f"O arquivo {caminho} não foi encontrado.")
#     exit()
# print("O arquivo foi encontrado com sucesso.")

### Conexão com banco de dados

In [245]:
conexao = (
    r"Driver={Microsoft Access Driver (*.mdb, *.accdb)};"
    rf"DBQ={caminho};"
)
try:
    conexao = pyodbc.connect(conexao)
    print("Conexão bem-sucedida ao banco de dados Access.")

    df = pd.read_sql("SELECT * FROM WORK", conexao)
    df_status = pd.read_sql("SELECT * FROM Status", conexao)
    conexao.close()
    print("Dados carregados com sucesso em um DataFrame.")
except Exception as e:
    print(f"Erro ao conectar ao banco de dados ou carregar os dados: {e}") 
    print(e)

Conexão bem-sucedida ao banco de dados Access.
Dados carregados com sucesso em um DataFrame.

C:\Users\bruno\AppData\Local\Temp\ipykernel_18348\404845905.py:9: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql("SELECT * FROM WORK", conexao)
C:\Users\bruno\AppData\Local\Temp\ipykernel_18348\404845905.py:10: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df_status = pd.read_sql("SELECT * FROM Status", conexao)

### Renomear coluna no banco de dados

In [246]:
df.columns = ['Progressivo', 'ID', 'Nivel', 'Tipo', 'Ordem', 'Codigo', 'Descricao', 'Quantidade', 'Largura', 'Profundidade', 'Altura', 'Preco']
# display(df.head())
# display(df.info())
# display(df.isna().sum())
# display(df.describe())

In [247]:
# tratamento de dados
    # display(df["Código"]),
    # lista_colunas = ["Tipo", "Código", "Descrição", "Quantidade", "Largura", "Profundidade", "Altura", "Preço"]
    # display(df[lista_colunas])
    # display(df[["Tipo", "Código"]])# 1 couxete para selecionar uma coluna e 2 couxete para selecionar uma lista de colunas  

# colunas
    # df_teste = df_nova[["teste", "teste2"]] # maneira de remover alguma coluna, criando um novo df somente com as colunas desejadas
    # df_nova = df_nova.drob(columns=["teste2"]) # maneira de excluir uma unica coluna dentro de seu dataframe

# nulos
    # df_novo = df_novo.dropna() # Exclui todas as linhas que tem um valor vazio
    # df_novo["Teste"] = df_novo["Teste"].fillna("Online") # Preenche os valores vazios com valor usando o metodo .fillna()

# tipos de dados
    # df_novo["Data"] = pd.to_datetime(df_novo["Data"], format="%Y-%m-%d") # Transforma a coluna em formato de data fomatando passando os parametros de data %Y-%m-%d

# padronização
    # df_novo["Loja"] = df_novo["Loja"].str.strip() # Remove os espaços vazio nos textos loja
    # df_novo["Loja"] = df_novo["Loja"].str.title() # Deixa o texto com a primeira letra Caixa alta

# duplicatas
    # df_novo = df_novo.drop_duplicates(subset=["ID_Pedido"])# Remove as duplicadas pelo ID do pedido - comando keep="fist or last" mantem o primeiro o u ultimo duplicado.


# Criar novas colunas 
# Faturamento

    # df_nova["Faturamento"] = df_nova["Quantidade"] * df_nova["Preço"] # Cria uma nova coluna Faturamento com resultado da quantidade * preço

# Forma de venda
    # df_nova["Forma_de_Venda"] = np.where(df_nova["Loja"] == "Online", "Online", "Presencial") # Cria uma coluna Foma_de_Venda usando condicional - si na coluna loja tiver Online, preencher Online, caso contrario Presencial

# regiao
    # display(df_novo["Loja"].unique()) # retorna um array NumPy contendo cada valor distinto encontrado nessa coluna, removendo duplicatas.

    
    # dic_regioes = {
    #     'São Paulo': 'Sudeste',
    #     'Belo Horizonte': 'Sudeste',
    #     'Online': 'Online',
    #     'Rio de Janeiro': 'Sudeste',
    #     'Salvador': 'Nordeste',
    #     'Recife': 'Nordeste',
    #     'Coritiba': 'Sul',
    #     'Porto Alegre': 'Sul',
    # }



    # df_nova["Regirao"] = df_nova["Loja"].map(dic_regioes) # Criando nova coluna mapiando por região

#Verificar se tem alguma coluna com valores vazios
# display(df.isna().sum()) # Verificar se tem alguma coluna com valores vazios

In [248]:
# # Analisar -> filtrar

#     # df = df.sort_values(by="Tipo") # Ordena em formato tipo, pode passar mais de uma coluna / para colocar em ordem decrescente usa o parametro, ascending=False
#     # df = df.reset_index() # Resenta o indice (drop=True) joga o indice antigo fora

# #.loc - Localiza pelo nome da linha e nome da coluna

#     # id_pedido = 4
#     # tipo = df.loc[3, "Tipo"]
#     # codigo = df.loc[3, "Código"]
#     # descricao = df.loc[3, "Descrição"]
#     # print(tipo, codigo, descricao)


# #.iloc

#     # id_pedido = 4
#     # tipo = df.iloc[3, 3]
#     # codigo = df.iloc[3, 5]
#     # descricao = df.iloc[3, 6]

#     # print(tipo, codigo, descricao)

# # condicional

#     # df_id_pedido_4 = df_analise[df_analise["ID_Pedido"] == 4]
#     # df_vendas_2024 = df_analise[df_analise["Data"] >= "2024-01-01"]

# # duplas condições

#     # df_vendas_hdmi_sul = df_analise[(df_analise["Produto"] == "Cabo HDMI") & (df_analise["Região"] == "Sul")]

# # Exportar pedaços da base

#     # df_vendas_sp = df_analise[df_analise["Loja"] == "São Paulo"]
#     # df_vendas_sp.to_csv("Vendas_SP.csv", index=False)
#     # df_tipo_0.to_json("modulos.json", index=False)

# # Analise por agrupamento

#     analise_lojas = df_analise[["Loja", "Faturamento"]].groupby("Loja").sum()

    # Ranking de produto que mais venderam online

    # df_vendas_online = df_analise[["Loja"] == "Online"] # filtra a tabela somente com a coluna loja tiver vendas online
    # analise_produtos_online = df_vendas_online[["Produto", "Qtd"]].groupby("Produto").sum() # cria uma nova tabela apenas com as colunas produto e quantidade das vendas online, agrupadas por produto
    # analise_produtos_online = analise_produtos_online.sort_values(by="Qtd", ascending=False) # filtra a quantidade por ordem decrescente
    # analise_produtos_online = analise_produtos_online.rename(columns={"Qtd" : "Vendas_totais"}) # alterar nome de uma coluna

# Metodo para concatenar uma tabela com outra tabela. este metodo as duas tabelas precisa ter as mesmas colunas, ele só junta tudo
    # df_meta = pd.concat([tabala1, tabela2])

# Metodo merge() Mescla duas tabelas 
    # df_meta = df_meta.merge(df_gerentes, left_on="Loja", right_on="Cidade") #quando que quero pegar a coluna loja de uma tabela e juntar com a coluna cidade de outra tabela
    # df_meta = df_meta.merge(df_gerentes, on="Loja") # quando a coluna loja tem nas duas tabela
    # df_meta = df_meta.merge(df_gerentes, on="Loja", how="left") # metodos avançados usando o parâmetro how="inner" how="left" how="outer"

    # df_meta = df_meta.merge(df_gerentes, on="Loja", how="left")
    # df_meta["Bateu_meta"] = np.where(df_meta["Faturamento"] >= df_meta["Meta_Mensal"], "Sim", "Não")

    # df_analise["Mes-Ano"] = df_analise["Data"].dt.to_period("M") # Função que defini o periodo que quer analisar essa data, mes, dia , ano, trimestre.
    # df_vendas_mes = df_analise[["Mes-Ano", "Faturamento",]].groupby("Mes-Ano").sum()
    # df_vendas_mes.plot() # Exibe em formato de grafico, mas recomendo usar o plotly

### Filtro Ambiente, valor e cliente

In [249]:
valor = df[df["Tipo"] == 0][["Preco"]].copy()
soma_total = valor["Preco"].sum()
valor_total = pd.DataFrame({"Preco":[soma_total]})

df_ambiente = df_status[["WorkCommessa"]].dropna().copy().reset_index(drop=True)
df_ambiente_preco = pd.concat([df_ambiente, valor_total], axis=1)
df_ambiente_preco.columns = ["Ambiente", "Valor"]

nome_cliente = input("Qual o nome do cliente?").upper()
cliente = pd.DataFrame({"Cliente":[nome_cliente]})
df_ambiente_preco = pd.concat([df_ambiente_preco, cliente], axis=1)

df_ambiente_preco.to_json("ambiente.json", indent=2)

display(df_ambiente_preco)

  Ambiente     Valor Cliente
0  VARANDA  32471.64   BRUNO

### Filtra dodos os módulos do banco de dados

In [250]:
df_tipo_0 = df[df["Tipo"] == 0].copy()
df_tipo_0 = df_tipo_0[~df_tipo_0["Descricao"].str.contains("GEOMETRIA", case=False, na=False)]
df_tipo_0 = df_tipo_0[~df_tipo_0["Descricao"].str.contains("BANCADA", case=False, na=False)]
df_tipo_0 = df_tipo_0[["Codigo", "Quantidade", "Largura", "Profundidade", "Altura", "Preco"]]
df_tipo_0 = df_tipo_0.reset_index(drop=True)


df_tipo_0["Quantidade"] = df_tipo_0["Quantidade"].astype(int)
df_tipo_0["Largura"] = df_tipo_0["Largura"].astype(int)
df_tipo_0["Profundidade"] = df_tipo_0["Profundidade"].astype(int)
df_tipo_0["Altura"] = df_tipo_0["Altura"].astype(int)

# df_tipo_0 = df_tipo_0.groupby("Codigo").sum().reset_index(drop=False)

valor_total_modulos = df_tipo_0[["Preco"]].sum()
df_tipo_0["Preco"] = df_tipo_0["Preco"].map("R${:,.2f}".format)


with pd.option_context('display.max_rows', None, 'display.max_columns', None):
    display(df_tipo_0)
display(f"O Valor total dos modulos R$ {valor_total_modulos.sum():,.2f}")
df_tipo_0.to_json("modulos.json", indent=2)

   Codigo  Quantidade  Largura  Profundidade  Altura        Preco
0    PA01           1     1652            15      65     R$176.79
1    PA01           1      641            15      65      R$65.88
2    AV03           1     2350           780     150      R$70.12
3    TA01           1       18           691     715     R$367.91
4    AV03           1     1020           701     150      R$28.05
5  COIT06           1      640           740     649   R$5,991.34
6  COIT06           1      640           740     649   R$5,949.84
7  COIT01           1     1010           740     649   R$3,952.45
8  COIT07           1      968           661     710  R$15,869.26

'O Valor total dos modulos R$ 32,471.64'

### Filtrar quantidade de chapas e m²

In [251]:
metro_quadrado_chapa = 5.06
df_tipo_2 = df[df["Tipo"] == 2].copy()
df_tipo_2["Area"] = (df_tipo_2["Largura"] * df_tipo_2["Profundidade"]) / 1000000
df_tipo_2["Codigo"] = df_tipo_2["Codigo"].str.replace("LACA_FOSCA", "BEIGE")
df_tipo_2["Codigo"] = df_tipo_2["Codigo"].str.replace("LACA_BRILHANTE", "BEIGE")
area_total = df_tipo_2.groupby("Codigo")["Area"].sum().reset_index()
area_total = area_total[~area_total["Codigo"].str.contains("30_|33_|36_|45_|54_|60_|SOBRA", case=False, na=False)]
area_total = area_total.round(2)
area_total["Area"] = area_total["Area"] / metro_quadrado_chapa
area_total["Area"] = area_total["Area"].round(1)
qtd_chapa = area_total.rename(columns={"Codigo": "Chapa", "Area": "Quantidade"})
# qtd_chapa["Quantidade"] = qtd_chapa["Quantidade"].astype(int)
qtd_chapa = qtd_chapa.sort_values(by="Quantidade")
qtd_chapa = qtd_chapa.reset_index(drop=True)

qtd_chapa.to_json("quantidade_de_chapas.json", indent=2)

print("Quantidade de Chapa")
display(qtd_chapa)

Quantidade de Chapa

      Chapa  Quantidade
0  15_CACAO         0.1
1  25_BEIGE         0.1
2  18_CACAO         0.6
3  15_BEIGE         2.1

### Filtro quantidade de ABS

In [252]:
df_tipo_3 = df[df["Tipo"] == 3].copy()
df_tipo_3 = df_tipo_3[["Codigo", "Largura"]]
df_tipo_3 = df_tipo_3[~df_tipo_3["Codigo"].str.contains("PERFIL|FRISO", case=False, na=False)]
df_tipo_3["Codigo"] = df_tipo_3["Codigo"].str.replace("FITA", "ABS")
df_tipo_3 = df_tipo_3.groupby("Codigo").sum()
df_tipo_3["Largura"] = df_tipo_3["Largura"].astype(int)
qtd_abs = df_tipo_3.rename(columns={"Largura":"Metragem"}).reset_index()
qtd_abs["Metragem"] = qtd_abs["Metragem"] / 1000
qtd_abs["Metragem"] = qtd_abs["Metragem"].round(2)

qtd_abs.to_json("quantidade_de_abs.json", indent=2)

print("Quantidade de ABS")
display(qtd_abs)

Quantidade de ABS

         Codigo  Metragem
0  ABS_BEIGE_22      6.76
1  ABS_BEIGE_35      0.98
2  ABS_CACAO_22     37.42

### Filtro quantidade de ferragens

In [253]:
lista_remover = [
    "PERFIL", "VIDRO_4MM", "CABIDEIRO",
    "LACA_FOSCA_XZ", "TESTEIRA", "RAFFINATA",
    "CURVO", "RITRATO", "USINAGEM", "RIPA"]
    
lista_remover_ferragem = "|".join(lista_remover)
df_tipo_4 = df[df["Tipo"] == 4].copy()
df_tipo_4 = df_tipo_4[~df_tipo_4["Codigo"].str.contains(lista_remover_ferragem, case=False, na=False)]
df_tipo_4["Codigo"] = df_tipo_4["Codigo"].str.replace("43570_", "")
colunas = ["Codigo", "Quantidade"]
df_tipo_4 = df_tipo_4[colunas]
df_tipo_4 = df_tipo_4.groupby("Codigo").sum().reset_index()

qtd_ferragens = df_tipo_4
qtd_ferragens.to_json("quantidade_de_ferragens.json", indent=2)

print("Quantidade de Ferragens")
display(qtd_ferragens)

Quantidade de Ferragens

                                Codigo  Quantidade
0                    BIGFER_0402248015           5
1               BLUM_01510476_ZIF.71M0           1
2            BLUM_02778342_ZRG.437RSFC           5
3            BLUM_02819465_Z30M000S.04           2
4            BLUM_02844068_ZRF.2200.01          10
5            BLUM_03382044_ZRG.437RSFC           5
6             BLUM_03695280_ZSI.500BI3           1
7               BLUM_04791038_ZAA.532C          14
8               BLUM_05461045_Z36D0080           5
9              BLUM_05652942_Z31L1036A           1
10              BLUM_06084740_Z30D000S           5
11              BLUM_06146813_ZIF.71M0           1
12              BLUM_07267139_Z30D000S           5
13           BLUM_07415589_Z30M000S.04           2
14             BLUM_07936668_578.5001M           7
15             BLUM_07940374_578.5001M           7
16            BLUM_07945616_378M5002ST           7
17            BLUM_07948154_378M5002ST           7
18              BLUM_08003614_ZSF.35A2          12
19              BLUM_08611680_ZIF.80M5           1
20                BLUM_4243508_75B1550           4
21          BLUM_4427776_70.1503.OGABD           4
22               BLUM_7480175_173L6100           4
23                BLUM_9003173_70T3504           4
24          BLUM_ZSI.500BI3+ZSI.500KI4           1
25  METAL_DESIGN_PROT_ESTUCO_PISO_15MM           1
26  METAL_DESIGN_PROT_ESTUCO_PRAT_25MM           1
27                       PARAFUSO_4x40          80
28  REVEST_VIDRO_8MM_TRANSLUCIDO_COMUM          10