In [377]:
import pandas as pd
import numpy as np
import os
import pyodbc
from tkinter import Tk, filedialog

### Caminho para o arquivo

In [378]:
# Cria janela para seleção de arquivo
root = Tk()
root.withdraw() # Esconde a janela vazia
root.attributes('-topmost', True) # Coloca o diálogo na frente

# Seleciona arquivo .MDB
caminho = filedialog.askopenfilename(
    title="Selecione o arquivo .MDB",
    initialdir=r"C:\Users\bruno\Desktop\Desenvolvedor\DevelopmentSystemProject_v2\data\COSTPROCE.MDB",
    filetypes=[("Access Database", "*.MDB"), ("All files", "*.*")]
)

# Verificação se o caminho foi encontrado
if not caminho:
    print("❌Nenhum arquivo foi selecionado.")
    exit()

if not os.path.exists(caminho):
    print(f"O arquivo {caminho} não foi encontrado")
    exit()

print(f"✅Arquivo selecionado {caminho}")

✅Arquivo selecionado C:/Users/bruno/Desktop/ACCESS/ACCESS/SUITE_MASTER.MDB

In [379]:
# caminho = r"C:\Users\bruno\Desktop\Desenvolvedor\DevelopmentSystemProject_v2\data\COSTPROCE.MDB"
# if not os.path.exists(caminho):
#     print(f"O arquivo {caminho} não foi encontrado.")
#     exit()
# print("O arquivo foi encontrado com sucesso.")

### Conexão com banco de dados

In [380]:
conexao = (
    r"Driver={Microsoft Access Driver (*.mdb, *.accdb)};"
    rf"DBQ={caminho};"
)
try:
    conexao = pyodbc.connect(conexao)
    print("Conexão bem-sucedida ao banco de dados Access.")

    df = pd.read_sql("SELECT * FROM WORK", conexao)
    df_status = pd.read_sql("SELECT * FROM Status", conexao)
    conexao.close()
    print("Dados carregados com sucesso em um DataFrame.")
except Exception as e:
    print(f"Erro ao conectar ao banco de dados ou carregar os dados: {e}") 
    print(e)

Conexão bem-sucedida ao banco de dados Access.
Dados carregados com sucesso em um DataFrame.

C:\Users\bruno\AppData\Local\Temp\ipykernel_25296\404845905.py:9: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql("SELECT * FROM WORK", conexao)
C:\Users\bruno\AppData\Local\Temp\ipykernel_25296\404845905.py:10: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df_status = pd.read_sql("SELECT * FROM Status", conexao)

### Renomear coluna no banco de dados

In [381]:
df.columns = ['Progressivo', 'ID', 'Nivel', 'Tipo', 'Ordem', 'Codigo', 'Descricao', 'Quantidade', 'Largura', 'Profundidade', 'Altura', 'Preco']
# display(df.head())
# display(df.info())
# display(df.isna().sum())
# display(df.describe())

In [382]:
# tratamento de dados
    # display(df["Código"]),
    # lista_colunas = ["Tipo", "Código", "Descrição", "Quantidade", "Largura", "Profundidade", "Altura", "Preço"]
    # display(df[lista_colunas])
    # display(df[["Tipo", "Código"]])# 1 couxete para selecionar uma coluna e 2 couxete para selecionar uma lista de colunas  

# colunas
    # df_teste = df_nova[["teste", "teste2"]] # maneira de remover alguma coluna, criando um novo df somente com as colunas desejadas
    # df_nova = df_nova.drob(columns=["teste2"]) # maneira de excluir uma unica coluna dentro de seu dataframe

# nulos
    # df_novo = df_novo.dropna() # Exclui todas as linhas que tem um valor vazio
    # df_novo["Teste"] = df_novo["Teste"].fillna("Online") # Preenche os valores vazios com valor usando o metodo .fillna()

# tipos de dados
    # df_novo["Data"] = pd.to_datetime(df_novo["Data"], format="%Y-%m-%d") # Transforma a coluna em formato de data fomatando passando os parametros de data %Y-%m-%d

# padronização
    # df_novo["Loja"] = df_novo["Loja"].str.strip() # Remove os espaços vazio nos textos loja
    # df_novo["Loja"] = df_novo["Loja"].str.title() # Deixa o texto com a primeira letra Caixa alta

# duplicatas
    # df_novo = df_novo.drop_duplicates(subset=["ID_Pedido"])# Remove as duplicadas pelo ID do pedido - comando keep="fist or last" mantem o primeiro o u ultimo duplicado.


# Criar novas colunas 
# Faturamento

    # df_nova["Faturamento"] = df_nova["Quantidade"] * df_nova["Preço"] # Cria uma nova coluna Faturamento com resultado da quantidade * preço

# Forma de venda
    # df_nova["Forma_de_Venda"] = np.where(df_nova["Loja"] == "Online", "Online", "Presencial") # Cria uma coluna Foma_de_Venda usando condicional - si na coluna loja tiver Online, preencher Online, caso contrario Presencial

# regiao
    # display(df_novo["Loja"].unique()) # retorna um array NumPy contendo cada valor distinto encontrado nessa coluna, removendo duplicatas.

    
    # dic_regioes = {
    #     'São Paulo': 'Sudeste',
    #     'Belo Horizonte': 'Sudeste',
    #     'Online': 'Online',
    #     'Rio de Janeiro': 'Sudeste',
    #     'Salvador': 'Nordeste',
    #     'Recife': 'Nordeste',
    #     'Coritiba': 'Sul',
    #     'Porto Alegre': 'Sul',
    # }



    # df_nova["Regirao"] = df_nova["Loja"].map(dic_regioes) # Criando nova coluna mapiando por região

#Verificar se tem alguma coluna com valores vazios
# display(df.isna().sum()) # Verificar se tem alguma coluna com valores vazios

In [383]:
# # Analisar -> filtrar

#     # df = df.sort_values(by="Tipo") # Ordena em formato tipo, pode passar mais de uma coluna / para colocar em ordem decrescente usa o parametro, ascending=False
#     # df = df.reset_index() # Resenta o indice (drop=True) joga o indice antigo fora

# #.loc - Localiza pelo nome da linha e nome da coluna

#     # id_pedido = 4
#     # tipo = df.loc[3, "Tipo"]
#     # codigo = df.loc[3, "Código"]
#     # descricao = df.loc[3, "Descrição"]
#     # print(tipo, codigo, descricao)


# #.iloc

#     # id_pedido = 4
#     # tipo = df.iloc[3, 3]
#     # codigo = df.iloc[3, 5]
#     # descricao = df.iloc[3, 6]

#     # print(tipo, codigo, descricao)

# # condicional

#     # df_id_pedido_4 = df_analise[df_analise["ID_Pedido"] == 4]
#     # df_vendas_2024 = df_analise[df_analise["Data"] >= "2024-01-01"]

# # duplas condições

#     # df_vendas_hdmi_sul = df_analise[(df_analise["Produto"] == "Cabo HDMI") & (df_analise["Região"] == "Sul")]

# # Exportar pedaços da base

#     # df_vendas_sp = df_analise[df_analise["Loja"] == "São Paulo"]
#     # df_vendas_sp.to_csv("Vendas_SP.csv", index=False)
#     # df_tipo_0.to_json("modulos.json", index=False)

# # Analise por agrupamento

#     analise_lojas = df_analise[["Loja", "Faturamento"]].groupby("Loja").sum()

    # Ranking de produto que mais venderam online

    # df_vendas_online = df_analise[["Loja"] == "Online"] # filtra a tabela somente com a coluna loja tiver vendas online
    # analise_produtos_online = df_vendas_online[["Produto", "Qtd"]].groupby("Produto").sum() # cria uma nova tabela apenas com as colunas produto e quantidade das vendas online, agrupadas por produto
    # analise_produtos_online = analise_produtos_online.sort_values(by="Qtd", ascending=False) # filtra a quantidade por ordem decrescente
    # analise_produtos_online = analise_produtos_online.rename(columns={"Qtd" : "Vendas_totais"}) # alterar nome de uma coluna

# Metodo para concatenar uma tabela com outra tabela. este metodo as duas tabelas precisa ter as mesmas colunas, ele só junta tudo
    # df_meta = pd.concat([tabala1, tabela2])

# Metodo merge() Mescla duas tabelas 
    # df_meta = df_meta.merge(df_gerentes, left_on="Loja", right_on="Cidade") #quando que quero pegar a coluna loja de uma tabela e juntar com a coluna cidade de outra tabela
    # df_meta = df_meta.merge(df_gerentes, on="Loja") # quando a coluna loja tem nas duas tabela
    # df_meta = df_meta.merge(df_gerentes, on="Loja", how="left") # metodos avançados usando o parâmetro how="inner" how="left" how="outer"

    # df_meta = df_meta.merge(df_gerentes, on="Loja", how="left")
    # df_meta["Bateu_meta"] = np.where(df_meta["Faturamento"] >= df_meta["Meta_Mensal"], "Sim", "Não")

    # df_analise["Mes-Ano"] = df_analise["Data"].dt.to_period("M") # Função que defini o periodo que quer analisar essa data, mes, dia , ano, trimestre.
    # df_vendas_mes = df_analise[["Mes-Ano", "Faturamento",]].groupby("Mes-Ano").sum()
    # df_vendas_mes.plot() # Exibe em formato de grafico, mas recomendo usar o plotly

### Filtro Ambiente, valor e cliente

In [384]:
valor = df[df["Tipo"] == 0][["Preco"]].copy()
soma_total = valor["Preco"].sum()
valor_total = pd.DataFrame({"Preco":[soma_total]})

df_ambiente = df_status[["WorkCommessa"]].dropna().copy().reset_index(drop=True)
df_ambiente_preco = pd.concat([df_ambiente, valor_total], axis=1)
df_ambiente_preco.columns = ["Ambiente", "Valor"]

nome_cliente = input("Qual o nome do cliente?").upper()
cliente = pd.DataFrame({"Cliente":[nome_cliente]})
df_ambiente_preco = pd.concat([df_ambiente_preco, cliente], axis=1)

df_ambiente_preco.to_json("ambiente.json", indent=2)

display(df_ambiente_preco)

       Ambiente      Valor Cliente
0  SUITE_MASTER  161149.54   BRUNO

### Filtra dodos os módulos do banco de dados

In [385]:
df_tipo_0 = df[df["Tipo"] == 0].copy()
df_tipo_0 = df_tipo_0[~df_tipo_0["Descricao"].str.contains("GEOMETRIA", case=False, na=False)]
df_tipo_0 = df_tipo_0[~df_tipo_0["Descricao"].str.contains("BANCADA", case=False, na=False)]
df_tipo_0 = df_tipo_0[~df_tipo_0["Descricao"].str.contains("PERFIL", case=False, na=False)]
df_tipo_0 = df_tipo_0[~df_tipo_0["Codigo"].str.contains("TM1", case=False, na=False)]
df_tipo_0 = df_tipo_0[["Codigo", "Quantidade", "Largura", "Profundidade", "Altura", "Preco"]]
df_tipo_0 = df_tipo_0.reset_index(drop=True)


df_tipo_0["Quantidade"] = df_tipo_0["Quantidade"].astype(int)
df_tipo_0["Largura"] = df_tipo_0["Largura"].astype(int)
df_tipo_0["Profundidade"] = df_tipo_0["Profundidade"].astype(int)
df_tipo_0["Altura"] = df_tipo_0["Altura"].astype(int)

# df_tipo_0 = df_tipo_0.groupby("Codigo").sum().reset_index(drop=False)

valor_total_modulos = df_tipo_0[["Preco"]].sum()
df_tipo_0["Preco"] = df_tipo_0["Preco"].map("R${:,.2f}".format)


with pd.option_context('display.max_rows', None, 'display.max_columns', None):
    display(df_tipo_0)
display(f"O Valor total dos modulos R$ {valor_total_modulos.sum():,.2f}")
df_tipo_0.to_json("modulos.json", indent=2)

    Codigo  Quantidade  Largura  Profundidade  Altura        Preco
0     PA01           1     1090            15    1405   R$1,196.84
1     PA01           1     1090            15    1405   R$1,196.84
2     PA01           1     1101            15    1405   R$1,184.55
3     PA01           1       50            15    2504     R$311.82
4     PP04           1      814           167    2150   R$4,260.49
5     PA01           1      127            15    2504     R$384.70
6     PA01           1      784            15     392     R$256.97
7     PA01           1       90            15    2504     R$329.53
8     PA01           1      110            15    2504     R$360.04
9     PA01           1      784            15     392     R$256.97
10    PA01           1      851            15    2504   R$1,635.14
11    PP03           1      889           160    2115     R$749.99
12    PP02           1     1900            71    2297   R$5,258.89
13    PA01           1      941            15     147     R$100.61
14    PA01           1      100            15    2085     R$162.04
15    PA01           1      828            15    2504   R$2,332.37
16    PA01           1      730            15    2504   R$1,272.29
17    PA01           1      859            15     392     R$291.92
18    PA01           1      730            15    2504   R$2,045.54
19    PA01           1      743            15    2504   R$2,020.11
20    TA01           1       18           650    2444   R$1,024.65
21    PA01           1      980            15     392     R$252.41
22    PA01           1      959            15     147     R$100.95
23    PA01           1      150            15    2509     R$267.93
24    PA01           1      977            15     392     R$163.59
25    PA01           1     1030            15    2504   R$1,107.01
26    PA01           1     1053            15    2504   R$1,864.19
27  COIL07           1      470           400     430   R$4,017.78
28    PA01           1      471            15     431     R$124.97
29    TA02           1      503           417      30     R$154.45
30    QT02           1     1159          1305    2260   R$6,483.86
31    QT01           1      725           600    2260  R$10,388.39
32    QT01           1      534           600    2260   R$5,892.52
33    QT01           1     1113           600    2260   R$4,227.12
34    QT01           1     1113           600    2260  R$12,070.98
35    QT01           1     1113           600    2260   R$9,588.74
36    QT01           1     1113           435    2260   R$8,899.76
37    AV08           1     1130           580    2200     R$213.86
38    TA01           1       18           150    2509     R$267.93
39    AV01           1       40            18    2509      R$70.12
40    AV02           1     2226           550     124     R$196.33
41    AV02           1     2226           550     124     R$196.33
42    AV02           1     1231           550     124     R$105.18
43    AV02           1     1560           550     124     R$133.23
44    QT04           1     2226           600    2260  R$17,177.99
45    QT04           1     3339           600    2260  R$25,130.52
46    QT04           1     1450           600    2260  R$12,263.26
47    AV01           1       32            18    2509      R$56.10
48    TA02           1     1821           250      30     R$594.77
49    TA02           1     1821           250      30     R$594.77
50    PP05           1      999            15    2150     R$408.11
51    TA01           1       18           417     431     R$127.26
52    TA01           1       18           417     431     R$127.26
53  COIL07           1      470           400     430   R$4,017.78
54    PA01           1      471            15     431     R$124.97
55    TA02           1      503           417      30     R$154.45
56    TA01           1       18           417     431     R$127.26
57    TA01           1       18           417     431     R$127.26
58    PP02           1     2180            56    2509   R$6,392.58

'O Valor total dos modulos R$ 160,844.27'

### Filtrar quantidade de chapas e m²

In [386]:
metro_quadrado_chapa = 5.06
df_tipo_2 = df[df["Tipo"] == 2].copy()
df_tipo_2["Area"] = (df_tipo_2["Largura"] * df_tipo_2["Profundidade"]) / 1000000
df_tipo_2["Codigo"] = df_tipo_2["Codigo"].str.replace("LACA_FOSCA", "BEIGE")
df_tipo_2["Codigo"] = df_tipo_2["Codigo"].str.replace("LACA_BRILHANTE", "BEIGE")
area_total = df_tipo_2.groupby("Codigo")["Area"].sum().reset_index()
area_total = area_total[~area_total["Codigo"].str.contains("30_|33_|36_|45_|54_|60_|SOBRA", case=False, na=False)]
area_total = area_total.round(2)
area_total["Area"] = area_total["Area"] / metro_quadrado_chapa
area_total["Area"] = area_total["Area"].round(1)
qtd_chapa = area_total.rename(columns={"Codigo": "Chapa", "Area": "Quantidade"})
# qtd_chapa["Quantidade"] = qtd_chapa["Quantidade"].astype(int)
qtd_chapa = qtd_chapa.sort_values(by="Quantidade")
qtd_chapa = qtd_chapa.reset_index(drop=True)

qtd_chapa.to_json("quantidade_de_chapas.json", indent=2)

print("Quantidade de Chapa")
display(qtd_chapa)

Quantidade de Chapa

          Chapa  Quantidade
0      18_BEIGE         1.1
1  18_PAU_FERRO         1.7
2      25_BEIGE         2.8
3  15_PAU_FERRO         5.4
4      15_BEIGE        13.4

### Filtro quantidade de ABS

In [387]:
df_tipo_3 = df[df["Tipo"] == 3].copy()
df_tipo_3 = df_tipo_3[["Codigo", "Largura"]]
df_tipo_3 = df_tipo_3[~df_tipo_3["Codigo"].str.contains("PERFIL|FRISO", case=False, na=False)]
df_tipo_3["Codigo"] = df_tipo_3["Codigo"].str.replace("FITA", "ABS")
df_tipo_3 = df_tipo_3.groupby("Codigo").sum()
df_tipo_3["Largura"] = df_tipo_3["Largura"].astype(int)
qtd_abs = df_tipo_3.rename(columns={"Largura":"Metragem"}).reset_index()
qtd_abs["Metragem"] = qtd_abs["Metragem"] / 1000
qtd_abs["Metragem"] = qtd_abs["Metragem"].round(2)

qtd_abs.to_json("quantidade_de_abs.json", indent=2)

print("Quantidade de ABS")
display(qtd_abs)

Quantidade de ABS

             Codigo  Metragem
0      ABS_BEIGE_22    113.34
1      ABS_BEIGE_35     23.02
2      ABS_BEIGE_63      4.53
3  ABS_PAU_FERRO_22    167.12
4  ABS_PAU_FERRO_35     10.22
5  ABS_PAU_FERRO_63      9.75

### Filtro quantidade de ferragens

In [388]:
remover_ferragem = [
    "PERFIL", "VIDRO_4MM", "CABIDEIRO",
    "LACA_FOSCA_XZ", "TESTEIRA", "RAFFINATA",
    "CURVO", "RITRATO", "USINAGEM", "RIPA", "EZDOOR_707100505N",
    "EZDOOR_707300506N", "METALON", "TRILHO_PORTA_PASSAGEM"]
    
lista_remover_ferragem = "|".join(remover_ferragem)
df_tipo_4 = df[df["Tipo"] == 4].copy()
df_tipo_4 = df_tipo_4[~df_tipo_4["Codigo"].str.contains(lista_remover_ferragem, case=False, na=False)]
df_tipo_4["Codigo"] = df_tipo_4["Codigo"].str.replace("43570_", "")
colunas = ["Codigo", "Quantidade", "Descricao"]
df_tipo_4 = df_tipo_4[colunas]
df_tipo_4 = df_tipo_4.groupby(["Codigo", "Descricao"]).agg({"Quantidade": "sum"}).reset_index()
df_tipo_4 = df_tipo_4.sort_values(by="Descricao")

qtd_ferragens = df_tipo_4
qtd_ferragens.to_json("quantidade_de_ferragens.json", indent=2, force_ascii=False)


print("Quantidade de Ferragens")
display(qtd_ferragens)

Quantidade de Ferragens

,Codigo,Descricao,Quantidade
9,DIVISOR_ACRILICO,DIVISOR DE ACRILICO,1
10,DOBRADICA_PIVOTANTE,DOBRADIÇA PIVOTANTE,1
0,ALTERNATIVA_0036.1.30,FREIO SISTEMA AL 83,4
2,ALTERNATIVA_0084.1.41,GUIA PARA PORTA DE CORRER,2
11,EZDOOR_700752PTAB,KIT EZDOOR 2 PORTAS,2
12,EZDOOR_700753PTAB,KIT EZDOOR 3 PORTAS,1
14,PARAFUSO_4x40,PARAFUSO 4x40,305
15,PUXADOR_ZEN_CRETA_64,PUXADOR ZEN CRETA 64,4
16,PUXADOR_ZEN_PAIO,PUXADOR ZEN PAIO,4
1,ALTERNATIVA_0083.1.10,SISTEMA AL 83,2
17,SUPORTE_CABIDE_CENTRAL_CHAMPAGNE,SUPORTE CABIDE CENTRAL CHAMPAGNE,7
13,F2102AL_SUP_CABIDE_CHAMPAGNE,SUPORTE CABIDE LATERAL CHAMPAGNE,15
3,BIGFER_0402248015,SUPORTE PRATELEIRA,56
5,BLUM_02003530_T51.1700.04,TANDEM ACOPLAMENTO A DIREITA,21
4,BLUM_02003290_T51.1700.04,TANDEM ACOPLAMENTO A ESQUERDA,21
6,BLUM_06251092_560H3000B,TANDEM TOTAL 300,3
7,BLUM_06251172_560H3500B,TANDEM TOTAL 350,4
8,BLUM_06252652_560H5000B,TANDEM TOTAL 500,14

In [389]:
medidas = ["Largura", "Profundidade", "Altura"]

## DataFrame Perfil

df_perfil = df[df["Codigo"].str.contains("PERFIL|CABIDE|CABIDEIRO|ALINEATTO/VOLARE", case=False, na=False) |
df["Descricao"].str.contains("TRILHO", case=False, na=False)].copy()
df_perfil = df_perfil[~df_perfil["Descricao"].str.contains("PENTEADEIRA|3446", case=False, na=False)]
df_perfil["Descricao"] = df_perfil["Descricao"].str.replace("CAVA I ", "CAVA C ")

pedidos_verticale = df[df["Codigo"].str.contains("3446|VIDRO|VEGAS|DONOSTIA|NEO 22", case=False, na=False)].copy()
pedidos_verticale = pedidos_verticale[["Codigo", "Descricao", "Quantidade", "Largura", "Altura", "ID"]]

## Logica da cor do puxador______________________________________________________

tem_especial = df_perfil["Codigo"].str.contains("ESPECIAL", case=False, na=False).any() | pedidos_verticale["Codigo"].str.contains("ESPECIAL", case=False, na=False).any()
if tem_especial:
    cor_especial = input("Qual a cor do PERFIL ESPECIAL? ").upper()
    df_perfil["Codigo"] = df_perfil["Codigo"].str.replace("ESPECIAL", cor_especial)
    df_perfil["Descricao"] = df_perfil["Descricao"].str.replace("ESPECIAL", cor_especial)
    pedidos_verticale["Codigo"] = pedidos_verticale["Codigo"].str.replace("ESPECIAL", cor_especial)
    pedidos_verticale["Descricao"] = pedidos_verticale["Descricao"].str.replace("ESPECIAL", cor_especial)

df_cor_puxador = df_perfil[df_perfil["Tipo"] == 3].copy()
df_cor_puxador["Codigo"] = df_cor_puxador["Codigo"].str.replace("PERFIL", "PERFIL COR")
df_cor_puxador["Descricao"] = df_cor_puxador["Descricao"].str.replace("PERFIL", "PERFIL COR")
df_cor_puxador = df_cor_puxador[["Codigo"]].groupby("Codigo").sum().reset_index(drop=False)
print("Cor do Puxador")

## _____________________________________________________________________________

## Filtro DataFrame Perfil

df_perfil = df_perfil[df_perfil["Tipo"] == 4].copy()
df_perfil["Codigo"] = df_perfil["Codigo"].str.replace("15X15", "PAINEL")
df_perfil["Descricao"] = df_perfil["Descricao"].str.replace("15X15", "PAINEL")
df_perfil["Descricao"] = df_perfil["Descricao"].str.replace("ELEGANCE 6504", "SAPATEIRA") # SAPATEIRA PRECISA ACRESCENTAR 3MM NA LARGURA
df_perfil["Descricao"] = df_perfil["Descricao"].str.replace(" V ", " ")
df_perfil["Descricao"] = df_perfil["Descricao"].str.replace(" EM Z ", " ")
df_perfil["Descricao"] = df_perfil["Descricao"].str.replace("I COM CAPA", "")
df_perfil["Descricao"] = df_perfil["Descricao"].str.replace("COM CAPA", "")
df_perfil["Codigo"] = df_perfil["Codigo"].str.replace("_V_", "_Z_")
df_perfil["Codigo"] = df_perfil["Codigo"].str.replace("_I_", "_Z_")
df_perfil.loc[df_perfil["Codigo"].str.contains("SUPORTE", case=False, na=False), medidas] = 0
df_perfil.loc[df_perfil["Descricao"].str.contains("SAPATEIRA", case=False, na=False), "Largura"] += 3
df_perfil = df_perfil[["Codigo", "Descricao", "Quantidade", "Largura", "Profundidade", "Altura"]]
df_perfil = df_perfil.sort_values(by="Codigo")

## Separando Perfil com medidas em Z

df_perfil_em_z = df_perfil[df_perfil["Codigo"].str.contains("_Z_", case=False, na=False)].copy()
df_perfil_em_z = df_perfil_em_z[["Codigo", "Descricao", "Quantidade", "Altura"]]
df_perfil_em_z = df_perfil_em_z.rename(columns={"Altura":"Largura"}).reset_index(drop=True)
df_perfil_em_z["Largura"] = df_perfil_em_z["Largura"].astype(int)

## Separando Perfil com medidas em X

df_perfil_em_x = df_perfil[~df_perfil["Codigo"].str.contains("_Z_", case=False, na=False)].copy()
df_perfil_em_x = df_perfil_em_x[["Codigo", "Descricao", "Quantidade", "Largura"]].reset_index(drop=True)
df_perfil_em_x["Largura"] = df_perfil_em_x["Largura"].astype(int)

## DataFrame Perfil Final

df_perfil_filtrado = pd.concat([df_perfil_em_x, df_perfil_em_z], ignore_index=True)
df_perfil_filtrado = df_perfil_filtrado.groupby(["Codigo", "Descricao", "Largura"])["Quantidade"].sum().reset_index()
df_perfil_filtrado = df_perfil_filtrado[["Codigo", "Descricao", "Quantidade", "Largura"]]

## Criar Json dos Perfil

df_perfil_filtrado.to_json("quantidade_de_perfil.json", indent=2, force_ascii=False)

## _____________________________________________________________________________

display(df_cor_puxador)
display(df_perfil_filtrado)
# display(df_perfil)

# # Filtrar linhas com PERFIL e Tipo == 3
# df_perfil = df[(df["Codigo"].str.contains("PERFIL", case=False, na=False)) & (df["Tipo"] == 3)].copy()

# # Substituir PERFIL por COR PUXADOR na coluna Codigo
# df_perfil["Codigo"] = df_perfil["Codigo"].str.replace("PERFIL", "COR PUXADOR")

Cor do Puxador

                 Codigo
0  PERFIL COR CHAMPAGNE

,Codigo,Descricao,Quantidade,Largura
0,124851_PERFIL_LED_COM_CAPA,PERFIL LED,2,1821
1,13494_CABIDEIRO_TUBO_OBLONGO_CHAMPAGNE,CABIDEIRO TUBO OBLONGO CHAMPAGNE,1,496
2,13494_CABIDEIRO_TUBO_OBLONGO_CHAMPAGNE,CABIDEIRO TUBO OBLONGO CHAMPAGNE,1,767
3,13494_CABIDEIRO_TUBO_OBLONGO_CHAMPAGNE,CABIDEIRO TUBO OBLONGO CHAMPAGNE,4,1075
4,13494_CABIDEIRO_TUBO_OBLONGO_CHAMPAGNE,CABIDEIRO TUBO OBLONGO CHAMPAGNE,1,1121
5,13494_CABIDEIRO_TUBO_OBLONGO_CHAMPAGNE,CABIDEIRO TUBO OBLONGO CHAMPAGNE,1,1122
6,22564_PERFIL_6504_CHAMPAGNE,PERFIL SAPATEIRA CHAMPAGNE,5,586
7,43570_SUPORTE_CABIDE_CENTRAL_CHAMPAGNE,SUPORTE CABIDE CENTRAL CHAMPAGNE,7,0
8,ALTERNATIVA_TRILHO_PORTA_PASSAGEM,TRILHO PARA PORTA DE PASSAGEM,1,1900
9,ALTERNATIVA_TRILHO_PORTA_PASSAGEM,TRILHO PARA PORTA DE PASSAGEM,1,2165
10,EZDOOR_707100505N,TRILHO SUPERIOR SISTEMA 4,1,1450
11,EZDOOR_707100505N,TRILHO SUPERIOR SISTEMA 4,1,2226
12,EZDOOR_707100505N,TRILHO SUPERIOR SISTEMA 4,1,3339
13,EZDOOR_707300506N,TRILHO INFERIOR SISTEMA 4,1,1450
14,EZDOOR_707300506N,TRILHO INFERIOR SISTEMA 4,1,2226
15,EZDOOR_707300506N,TRILHO INFERIOR SISTEMA 4,1,3339
16,F2102AL_SUP_CABIDE_CHAMPAGNE,SUPORTE CABIDE LATERAL CHAMPAGNE,15,11
17,NEO_PERFIL_NEO32_CHAMPAGNE,PERFIL NEO32 CHAMPAGNE,12,150
18,PERFIL_DONOSTIA_X_CHAMPAGNE,PERFIL DONOSTIA EM X CHAMPAGNE,4,752
19,PERFIL_DONOSTIA_X_CHAMPAGNE,PERFIL DONOSTIA EM X CHAMPAGNE,10,1140
20,PERFIL_DONOSTIA_Z_CHAMPAGNE,PERFIL DONOSTIA CHAMPAGNE,14,2347
21,PERFIL_PAINEL_CHAMPAGNE,PERFIL PAINEL CHAMPAGNE,1,50
22,PERFIL_PAINEL_CHAMPAGNE,PERFIL PAINEL CHAMPAGNE,2,70
23,PERFIL_PAINEL_CHAMPAGNE,PERFIL PAINEL CHAMPAGNE,1,90
24,PERFIL_PAINEL_CHAMPAGNE,PERFIL PAINEL CHAMPAGNE,1,100
25,PERFIL_PAINEL_CHAMPAGNE,PERFIL PAINEL CHAMPAGNE,1,110
26,PERFIL_PAINEL_CHAMPAGNE,PERFIL PAINEL CHAMPAGNE,1,127
27,PERFIL_PAINEL_CHAMPAGNE,PERFIL PAINEL CHAMPAGNE,1,175
28,PERFIL_PAINEL_CHAMPAGNE,PERFIL PAINEL CHAMPAGNE,1,182
29,PERFIL_PAINEL_CHAMPAGNE,PERFIL PAINEL CHAMPAGNE,1,776
30,PERFIL_PAINEL_CHAMPAGNE,PERFIL PAINEL CHAMPAGNE,1,845
31,PERFIL_PAINEL_CHAMPAGNE,PERFIL PAINEL CHAMPAGNE,1,851
32,PERFIL_PAINEL_CHAMPAGNE,PERFIL PAINEL CHAMPAGNE,1,950
33,PERFIL_PAINEL_CHAMPAGNE,PERFIL PAINEL CHAMPAGNE,1,1090
34,PERFIL_PAINEL_CHAMPAGNE,PERFIL PAINEL CHAMPAGNE,1,2083
35,PERFIL_PAINEL_CHAMPAGNE,PERFIL PAINEL CHAMPAGNE,1,2203

## Pedidos portas perfil

In [390]:

# pedidos_verticale = df[df["Codigo"].str.contains("3446|VIDRO|VEGAS|DONOSTIA|NEO 22", case=False, na=False)].copy()
# pedidos_verticale = pedidos_verticale[["Codigo", "Descricao", "Quantidade", "Largura", "Altura", "ID"]]
portas_em_x = pedidos_verticale[pedidos_verticale["Codigo"].str.contains("_X_", case=False, na=False)].copy().reset_index(drop=True)
portas_em_x["Altura"] = 0
portas_em_x["Quantidade"] = portas_em_x["Quantidade"] // 2
portas_em_z = pedidos_verticale[pedidos_verticale["Codigo"].str.contains("_Z_", case=False, na=False)].copy()
portas_em_z["Largura"] = 0
portas_em_z["Quantidade"] = portas_em_z["Quantidade"] // 2
portas_em_z = portas_em_z.groupby("ID").agg({
    "Codigo": "first",
    "Descricao": "first",
    "Largura": "first",
    "Altura": "first",
    "Quantidade": "sum"
}).reset_index()
portas_em_z = portas_em_z[["Codigo", "Descricao", "Quantidade", "Largura", "Altura", "ID"]]

portas_em_x["Descricao"] = portas_em_x["Descricao"].str.replace(" EM X", "", regex=False)
portas_em_z["Descricao"] = portas_em_z["Descricao"].str.replace(" EM Z", "", regex=False)
portas_em_x["Codigo"] = portas_em_x["Codigo"].str.replace("_X_", "_", regex=False)
portas_em_z["Codigo"] = portas_em_z["Codigo"].str.replace("_Z_", "_", regex=False)


portas_final = pd.concat([portas_em_x, portas_em_z], ignore_index=True)
portas_final = portas_final.groupby("ID").agg({
    "Codigo": "first",
    "Descricao": "first",
    "Largura": "sum",
    "Altura": "sum",
    "Quantidade": "sum"
}).reset_index()
portas_final = portas_final[["Codigo", "Descricao", "Quantidade", "Largura", "Altura", "ID"]]
portas_final["Quantidade"] = portas_final["Quantidade"] // 2
portas_final["Largura"] = portas_final["Largura"].astype(int)
portas_final["Altura"] = portas_final["Altura"].astype(int)

pedidos_verticale_vidro = df[df["Descricao"].str.contains("VIDRO 4MM", case=False, na=False)].copy()
pedidos_verticale_vidro = pedidos_verticale_vidro[["Descricao", "ID"]].reset_index(drop=True)

portas_final = portas_final.merge(pedidos_verticale_vidro, on="ID", how="right")
portas_final = portas_final.rename(columns={"Descricao_x":"Descricao", "Descricao_y":"Acabamento"}).reset_index(drop=True)
portas_final["Acabamento"] = portas_final["Acabamento"].str.replace(" 4MM", "", regex=False)

portas_final.to_json("quantidade_de_portas_perfil.json", indent=2, force_ascii=False)

display(portas_em_x)
display(portas_em_z)
display(portas_final)
# display(pedidos_verticale_vidro)

,Codigo,Descricao,Quantidade,Largura,Altura,ID
0,PERFIL_DONOSTIA_CHAMPAGNE,PERFIL DONOSTIA CHAMPAGNE,2,1140.0,0,182
1,PERFIL_DONOSTIA_CHAMPAGNE,PERFIL DONOSTIA CHAMPAGNE,3,1140.0,0,184
2,PERFIL_DONOSTIA_CHAMPAGNE,PERFIL DONOSTIA CHAMPAGNE,2,752.0,0,186

,Codigo,Descricao,Quantidade,Largura,Altura,ID
0,PERFIL_DONOSTIA_CHAMPAGNE,PERFIL DONOSTIA CHAMPAGNE,2,0,2347.0,182
1,PERFIL_DONOSTIA_CHAMPAGNE,PERFIL DONOSTIA CHAMPAGNE,3,0,2347.0,184
2,PERFIL_DONOSTIA_CHAMPAGNE,PERFIL DONOSTIA CHAMPAGNE,2,0,2347.0,186

,Codigo,Descricao,Quantidade,Largura,Altura,ID,Acabamento
0,PERFIL_DONOSTIA_CHAMPAGNE,PERFIL DONOSTIA CHAMPAGNE,2,1140,2347,182,VIDRO ESPELHO BRONZE
1,PERFIL_DONOSTIA_CHAMPAGNE,PERFIL DONOSTIA CHAMPAGNE,3,1140,2347,184,VIDRO ESPELHO BRONZE
2,PERFIL_DONOSTIA_CHAMPAGNE,PERFIL DONOSTIA CHAMPAGNE,2,752,2347,186,VIDRO ESPELHO BRONZE

In [391]:
## Incluir cor do vidro quando for especial
## Incluir portas de vidro que tenha mdf