In [298]:
import pandas as pd
import numpy as np
import os
import pyodbc
from tkinter import Tk, filedialog

### Caminho para o arquivo

In [299]:
# Cria janela para seleção de arquivo
root = Tk()
root.withdraw() # Esconde a janela vazia
root.attributes('-topmost', True) # Coloca o diálogo na frente

# Seleciona arquivo .MDB
caminho = filedialog.askopenfilename(
    title="Selecione o arquivo .MDB",
    initialdir=r"C:\Users\bruno\Desktop\Desenvolvedor\DevelopmentSystemProject_v2\data\COSTPROCE.MDB",
    filetypes=[("Access Database", "*.MDB"), ("All files", "*.*")]
)

# Verificação se o caminho foi encontrado
if not caminho:
    print("❌Nenhum arquivo foi selecionado.")
    exit()

if not os.path.exists(caminho):
    print(f"O arquivo {caminho} não foi encontrado")
    exit()

print(f"✅Arquivo selecionado {caminho}")

✅Arquivo selecionado C:/Users/bruno/Desktop/OneDrive_1_05-01-2026/LIVING.MDB

In [300]:
# caminho = r"C:\Users\bruno\Desktop\Desenvolvedor\DevelopmentSystemProject_v2\data\COSTPROCE.MDB"
# if not os.path.exists(caminho):
#     print(f"O arquivo {caminho} não foi encontrado.")
#     exit()
# print("O arquivo foi encontrado com sucesso.")

### Conexão com banco de dados

In [301]:
conexao = (
    r"Driver={Microsoft Access Driver (*.mdb, *.accdb)};"
    rf"DBQ={caminho};"
)
try:
    conexao = pyodbc.connect(conexao)
    print("Conexão bem-sucedida ao banco de dados Access.")

    df = pd.read_sql("SELECT * FROM WORK", conexao)
    df_status = pd.read_sql("SELECT * FROM Status", conexao)
    conexao.close()
    print("Dados carregados com sucesso em um DataFrame.")
except Exception as e:
    print(f"Erro ao conectar ao banco de dados ou carregar os dados: {e}") 
    print(e)

Conexão bem-sucedida ao banco de dados Access.

C:\Users\bruno\AppData\Local\Temp\ipykernel_18348\404845905.py:9: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql("SELECT * FROM WORK", conexao)
C:\Users\bruno\AppData\Local\Temp\ipykernel_18348\404845905.py:10: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df_status = pd.read_sql("SELECT * FROM Status", conexao)

Dados carregados com sucesso em um DataFrame.

### Renomear coluna no banco de dados

In [302]:
df.columns = ['Progressivo', 'ID', 'Nivel', 'Tipo', 'Ordem', 'Codigo', 'Descricao', 'Quantidade', 'Largura', 'Profundidade', 'Altura', 'Preco']
# display(df.head())
# display(df.info())
# display(df.isna().sum())
# display(df.describe())

In [303]:
# tratamento de dados
    # display(df["Código"]),
    # lista_colunas = ["Tipo", "Código", "Descrição", "Quantidade", "Largura", "Profundidade", "Altura", "Preço"]
    # display(df[lista_colunas])
    # display(df[["Tipo", "Código"]])# 1 couxete para selecionar uma coluna e 2 couxete para selecionar uma lista de colunas  

# colunas
    # df_teste = df_nova[["teste", "teste2"]] # maneira de remover alguma coluna, criando um novo df somente com as colunas desejadas
    # df_nova = df_nova.drob(columns=["teste2"]) # maneira de excluir uma unica coluna dentro de seu dataframe

# nulos
    # df_novo = df_novo.dropna() # Exclui todas as linhas que tem um valor vazio
    # df_novo["Teste"] = df_novo["Teste"].fillna("Online") # Preenche os valores vazios com valor usando o metodo .fillna()

# tipos de dados
    # df_novo["Data"] = pd.to_datetime(df_novo["Data"], format="%Y-%m-%d") # Transforma a coluna em formato de data fomatando passando os parametros de data %Y-%m-%d

# padronização
    # df_novo["Loja"] = df_novo["Loja"].str.strip() # Remove os espaços vazio nos textos loja
    # df_novo["Loja"] = df_novo["Loja"].str.title() # Deixa o texto com a primeira letra Caixa alta

# duplicatas
    # df_novo = df_novo.drop_duplicates(subset=["ID_Pedido"])# Remove as duplicadas pelo ID do pedido - comando keep="fist or last" mantem o primeiro o u ultimo duplicado.


# Criar novas colunas 
# Faturamento

    # df_nova["Faturamento"] = df_nova["Quantidade"] * df_nova["Preço"] # Cria uma nova coluna Faturamento com resultado da quantidade * preço

# Forma de venda
    # df_nova["Forma_de_Venda"] = np.where(df_nova["Loja"] == "Online", "Online", "Presencial") # Cria uma coluna Foma_de_Venda usando condicional - si na coluna loja tiver Online, preencher Online, caso contrario Presencial

# regiao
    # display(df_novo["Loja"].unique()) # retorna um array NumPy contendo cada valor distinto encontrado nessa coluna, removendo duplicatas.

    
    # dic_regioes = {
    #     'São Paulo': 'Sudeste',
    #     'Belo Horizonte': 'Sudeste',
    #     'Online': 'Online',
    #     'Rio de Janeiro': 'Sudeste',
    #     'Salvador': 'Nordeste',
    #     'Recife': 'Nordeste',
    #     'Coritiba': 'Sul',
    #     'Porto Alegre': 'Sul',
    # }



    # df_nova["Regirao"] = df_nova["Loja"].map(dic_regioes) # Criando nova coluna mapiando por região

#Verificar se tem alguma coluna com valores vazios
# display(df.isna().sum()) # Verificar se tem alguma coluna com valores vazios

In [304]:
# # Analisar -> filtrar

#     # df = df.sort_values(by="Tipo") # Ordena em formato tipo, pode passar mais de uma coluna / para colocar em ordem decrescente usa o parametro, ascending=False
#     # df = df.reset_index() # Resenta o indice (drop=True) joga o indice antigo fora

# #.loc - Localiza pelo nome da linha e nome da coluna

#     # id_pedido = 4
#     # tipo = df.loc[3, "Tipo"]
#     # codigo = df.loc[3, "Código"]
#     # descricao = df.loc[3, "Descrição"]
#     # print(tipo, codigo, descricao)


# #.iloc

#     # id_pedido = 4
#     # tipo = df.iloc[3, 3]
#     # codigo = df.iloc[3, 5]
#     # descricao = df.iloc[3, 6]

#     # print(tipo, codigo, descricao)

# # condicional

#     # df_id_pedido_4 = df_analise[df_analise["ID_Pedido"] == 4]
#     # df_vendas_2024 = df_analise[df_analise["Data"] >= "2024-01-01"]

# # duplas condições

#     # df_vendas_hdmi_sul = df_analise[(df_analise["Produto"] == "Cabo HDMI") & (df_analise["Região"] == "Sul")]

# # Exportar pedaços da base

#     # df_vendas_sp = df_analise[df_analise["Loja"] == "São Paulo"]
#     # df_vendas_sp.to_csv("Vendas_SP.csv", index=False)
#     # df_tipo_0.to_json("modulos.json", index=False)

# # Analise por agrupamento

#     analise_lojas = df_analise[["Loja", "Faturamento"]].groupby("Loja").sum()

    # Ranking de produto que mais venderam online

    # df_vendas_online = df_analise[["Loja"] == "Online"] # filtra a tabela somente com a coluna loja tiver vendas online
    # analise_produtos_online = df_vendas_online[["Produto", "Qtd"]].groupby("Produto").sum() # cria uma nova tabela apenas com as colunas produto e quantidade das vendas online, agrupadas por produto
    # analise_produtos_online = analise_produtos_online.sort_values(by="Qtd", ascending=False) # filtra a quantidade por ordem decrescente
    # analise_produtos_online = analise_produtos_online.rename(columns={"Qtd" : "Vendas_totais"}) # alterar nome de uma coluna

# Metodo para concatenar uma tabela com outra tabela. este metodo as duas tabelas precisa ter as mesmas colunas, ele só junta tudo
    # df_meta = pd.concat([tabala1, tabela2])

# Metodo merge() Mescla duas tabelas 
    # df_meta = df_meta.merge(df_gerentes, left_on="Loja", right_on="Cidade") #quando que quero pegar a coluna loja de uma tabela e juntar com a coluna cidade de outra tabela
    # df_meta = df_meta.merge(df_gerentes, on="Loja") # quando a coluna loja tem nas duas tabela
    # df_meta = df_meta.merge(df_gerentes, on="Loja", how="left") # metodos avançados usando o parâmetro how="inner" how="left" how="outer"

    # df_meta = df_meta.merge(df_gerentes, on="Loja", how="left")
    # df_meta["Bateu_meta"] = np.where(df_meta["Faturamento"] >= df_meta["Meta_Mensal"], "Sim", "Não")

    # df_analise["Mes-Ano"] = df_analise["Data"].dt.to_period("M") # Função que defini o periodo que quer analisar essa data, mes, dia , ano, trimestre.
    # df_vendas_mes = df_analise[["Mes-Ano", "Faturamento",]].groupby("Mes-Ano").sum()
    # df_vendas_mes.plot() # Exibe em formato de grafico, mas recomendo usar o plotly

### Filtro Ambiente, valor e cliente

In [305]:
valor = df[df["Tipo"] == 0][["Preco"]].copy()
soma_total = valor["Preco"].sum()
valor_total = pd.DataFrame({"Preco":[soma_total]})

df_ambiente = df_status[["WorkCommessa"]].dropna().copy().reset_index(drop=True)
df_ambiente_preco = pd.concat([df_ambiente, valor_total], axis=1)
df_ambiente_preco.columns = ["Ambiente", "Valor"]

nome_cliente = input("Qual o nome do cliente?").upper()
cliente = pd.DataFrame({"Cliente":[nome_cliente]})
df_ambiente_preco = pd.concat([df_ambiente_preco, cliente], axis=1)

df_ambiente_preco.to_json("ambiente.json", indent=2)

display(df_ambiente_preco)

  Ambiente     Valor Cliente
0   LIVING  95156.33   BRUNO

### Filtra dodos os módulos do banco de dados

In [306]:
df_tipo_0 = df[df["Tipo"] == 0].copy()
df_tipo_0 = df_tipo_0[~df_tipo_0["Descricao"].str.contains("GEOMETRIA", case=False, na=False)]
df_tipo_0 = df_tipo_0[~df_tipo_0["Descricao"].str.contains("BANCADA", case=False, na=False)]
df_tipo_0 = df_tipo_0[["Codigo", "Quantidade", "Largura", "Profundidade", "Altura", "Preco"]]
df_tipo_0 = df_tipo_0.reset_index(drop=True)


df_tipo_0["Quantidade"] = df_tipo_0["Quantidade"].astype(int)
df_tipo_0["Largura"] = df_tipo_0["Largura"].astype(int)
df_tipo_0["Profundidade"] = df_tipo_0["Profundidade"].astype(int)
df_tipo_0["Altura"] = df_tipo_0["Altura"].astype(int)

# df_tipo_0 = df_tipo_0.groupby("Codigo").sum().reset_index(drop=False)

valor_total_modulos = df_tipo_0[["Preco"]].sum()
df_tipo_0["Preco"] = df_tipo_0["Preco"].map("R${:,.2f}".format)


with pd.option_context('display.max_rows', None, 'display.max_columns', None):
    display(df_tipo_0)
display(f"O Valor total dos modulos R$ {valor_total_modulos.sum():,.2f}")
df_tipo_0.to_json("modulos.json", indent=2)

    Codigo  Quantidade  Largura  Profundidade  Altura       Preco
0     PA10           1     1370            45    2630  R$3,263.34
1     TA02           1     1963           385      30    R$573.45
2     TA02           1     1993           385      30    R$580.98
3   COIL07           1      980           380     200  R$1,384.86
4   COIL07           1      980           380     200  R$1,384.86
5   COIL07           1      980           380     200  R$1,384.86
6     PA01           1     1322            15     610  R$1,085.76
7     PA01           1     1322            15     610  R$1,096.28
8     PA01           1     1324            15     610  R$1,096.46
9     PA01           1     1370            15     610  R$1,119.18
10    PA01           1     1638            15     610  R$1,287.18
11    PA01           1     1472            15     246    R$900.04
12  COIL01           1      980           380     332  R$1,933.08
13  COIL01           1      980           380     332  R$1,747.83
14  COIL01           1      980           380     332  R$1,747.83
15  COIL07           1      980           380     200  R$1,384.86
16  COIL01           1      980           380     332  R$1,779.73
17    PA01           1     1322            15     327    R$377.16
18    TA02           1     1993           385      30    R$580.98
19    TA02           1     1962           385      30    R$573.45
20    PA01           1     1324            15     327    R$508.07
21    PA01           1     1322            15     327    R$500.04
22    PA01           1     1163            15     610    R$991.08
23    PA10           1     1602            45    2630  R$3,983.70
24    PA10           1     1602            45    2630  R$3,845.72
25    PA01           1     1624            15     610  R$1,305.15
26    PA10           1     1624            45    2630  R$3,889.32
27    PA01           1     1624            15     610  R$1,294.67
28    PA10           1     1624            45    2630  R$3,644.10
29    PA01           1     1324            15     610  R$1,085.93
30    PA10           1     1324            45    2630  R$3,172.14
31    PA01           1     1323            15     610  R$1,082.31
32    PA10           1     1323            45    2630  R$3,344.14
33    PA01           1     1083            15     403    R$823.03
34    PA01           1     1616            15     610  R$1,291.86
35    PA10           1     1616            45    2630  R$3,801.09
36    PP04           1      851           245    2195  R$4,735.10
37    PA10           1      425            45    2630  R$1,026.73
38    PA10           1      716            45    2630  R$1,565.33
39    PA01           1      716            15     251    R$166.64
40    PA10           1      821            45     475    R$321.31
41    PA01           1      425            15     251    R$108.49
42    PA01           1      821            15     251    R$177.96
43    PP04           1      750           245    2195  R$4,383.89
44    PA10           1      287            45    2630    R$653.52
45    PA01           1      955            15     251    R$209.98
46    PA10           1      955            45    2630  R$1,928.28
47    PA10           1      720            45     470    R$288.47
48    PA01           1      720            15     251    R$171.13
49    PA05           1     1638           228      15    R$357.61
50    PA01           1     1639            15     610  R$1,287.18
51    PA05           1     1639           228      15    R$361.58
52    PA01           1     1638            15     610  R$1,287.18
53    PA05           1     1638           228      15    R$361.41
54    PA01           1     1639            15     610  R$1,287.18
55    PA05           1     1639           228      15    R$357.61
56    PA01           1      287            15     251     R$71.29
57    PA01           1       70            15    2701    R$356.10
58    PA01           1       70            15    2701    R$380.89
59    PA01           1      720            15     541    R$336.34
60    PA10           1     1163            45    2630  R$2,921.20
61    PA10           1     1322            45    1735  R$2,133.90
62    PA10           1     1324            45    1735  R$2,139.74
63    PA10           1     1322            45    1735  R$2,104.06
64    PA01           1      250            15     379     R$63.46
65    PA10           1      250            45    2630    R$451.94
66    PA01           1      250            15     379     R$63.46
67    PA10           1      250            45    2630    R$451.94
68    TA02           1     1472           250      30    R$241.56
69    PA01           1     1602            15     610  R$1,284.33
70    PA01           1     1602            15     610  R$1,275.02

'O Valor total dos modulos R$ 95,156.33'

### Filtrar quantidade de chapas e m²

In [307]:
metro_quadrado_chapa = 5.06
df_tipo_2 = df[df["Tipo"] == 2].copy()
df_tipo_2["Area"] = (df_tipo_2["Largura"] * df_tipo_2["Profundidade"]) / 1000000
df_tipo_2["Codigo"] = df_tipo_2["Codigo"].str.replace("LACA_FOSCA", "BEIGE")
df_tipo_2["Codigo"] = df_tipo_2["Codigo"].str.replace("LACA_BRILHANTE", "BEIGE")
area_total = df_tipo_2.groupby("Codigo")["Area"].sum().reset_index()
area_total = area_total[~area_total["Codigo"].str.contains("30_|33_|36_|45_|54_|60_|SOBRA", case=False, na=False)]
area_total = area_total.round(2)
area_total["Area"] = area_total["Area"] / metro_quadrado_chapa
area_total["Area"] = area_total["Area"].round(1)
qtd_chapa = area_total.rename(columns={"Codigo": "Chapa", "Area": "Quantidade"})
# qtd_chapa["Quantidade"] = qtd_chapa["Quantidade"].astype(int)
qtd_chapa = qtd_chapa.sort_values(by="Quantidade")
qtd_chapa = qtd_chapa.reset_index(drop=True)

qtd_chapa.to_json("quantidade_de_chapas.json", indent=2)

print("Quantidade de Chapa")
display(qtd_chapa)

Quantidade de Chapa

        Chapa  Quantidade
0  15_CERRADO         0.6
1    18_AREAL         1.4
2    15_BEIGE         1.9
3    15_AREAL        15.4

### Filtro quantidade de ABS

In [308]:
df_tipo_3 = df[df["Tipo"] == 3].copy()
df_tipo_3 = df_tipo_3[["Codigo", "Largura"]]
df_tipo_3 = df_tipo_3[~df_tipo_3["Codigo"].str.contains("PERFIL|FRISO", case=False, na=False)]
df_tipo_3["Codigo"] = df_tipo_3["Codigo"].str.replace("FITA", "ABS")
df_tipo_3 = df_tipo_3.groupby("Codigo").sum()
df_tipo_3["Largura"] = df_tipo_3["Largura"].astype(int)
qtd_abs = df_tipo_3.rename(columns={"Largura":"Metragem"}).reset_index()
qtd_abs["Metragem"] = qtd_abs["Metragem"] / 1000
qtd_abs["Metragem"] = qtd_abs["Metragem"].round(2)

qtd_abs.to_json("quantidade_de_abs.json", indent=2)

print("Quantidade de ABS")
display(qtd_abs)

Quantidade de ABS

           Codigo  Metragem
0    ABS_AREAL_22    270.51
1    ABS_AREAL_35      1.50
2    ABS_AREAL_63     11.65
3    ABS_BEIGE_22      9.98
4  ABS_CERRADO_22      9.15
5  ABS_CERRADO_35      1.70
6   ABS_CUMARU_22      3.32

### Filtro quantidade de ferragens

In [309]:
lista_remover = [
    "PERFIL", "VIDRO_4MM", "CABIDEIRO",
    "LACA_FOSCA_XZ", "TESTEIRA", "RAFFINATA",
    "CURVO", "RITRATO", "USINAGEM", "RIPA"]
    
lista_remover_ferragem = "|".join(lista_remover)
df_tipo_4 = df[df["Tipo"] == 4].copy()
df_tipo_4 = df_tipo_4[~df_tipo_4["Codigo"].str.contains(lista_remover_ferragem, case=False, na=False)]
df_tipo_4["Codigo"] = df_tipo_4["Codigo"].str.replace("43570_", "")
colunas = ["Codigo", "Quantidade"]
df_tipo_4 = df_tipo_4[colunas]
df_tipo_4 = df_tipo_4.groupby("Codigo").sum().reset_index()

qtd_ferragens = df_tipo_4
qtd_ferragens.to_json("quantidade_de_ferragens.json", indent=2)

print("Quantidade de Ferragens")
display(qtd_ferragens)

Quantidade de Ferragens

                        Codigo  Quantidade
0    BLUM_02003290_T51.1700.04           4
1    BLUM_02003530_T51.1700.04           4
2      BLUM_04932532_560H3500C           4
3      BLUM_08997274_T55.7150S           4
4      BLUM_31030394_T55.889WR           4
5         BLUM_4243508_75B1550          16
6   BLUM_4427776_70.1503.OGABD          16
7        BLUM_7480175_173L6100          16
8        BLUM_8209410_956A1006           8
9         BLUM_9003173_70T3504          16
10         DOBRADICA_PIVOTANTE           2
11           METALON_30x20_HOR           4
12           METALON_30x20_VER           4
13               PARAFUSO_4x40         128

In [310]:
df_perfil = df[df["Codigo"].str.contains("PERFIL", case=False, na=False)].copy()

tem_especial = df_perfil["Codigo"].str.contains("ESPECIAL", case=False, na=False).any()
if tem_especial:
    cor_especial = input("Qual a cor do PERFIL ESPECIAL? ").upper()
    df_perfil["Codigo"] = df_perfil["Codigo"].str.replace("ESPECIAL", cor_especial)
    df_perfil["Descricao"] = df_perfil["Descricao"].str.replace("ESPECIAL", cor_especial)

df_cor_puxador = df_perfil[df_perfil["Tipo"] == 3].copy()
df_cor_puxador["Codigo"] = df_cor_puxador["Codigo"].str.replace("PERFIL", "COR PUXADOR")
df_cor_puxador["Descricao"] = df_cor_puxador["Descricao"].str.replace("PERFIL", "COR PUXADOR")
df_cor_puxador = df_cor_puxador[["Codigo"]].groupby("Codigo").sum().reset_index(drop=False)
print("Cor do Puxador")

df_perfil = df_perfil[df_perfil["Tipo"] == 4].copy()
df_perfil = df_perfil[["Codigo", "Descricao", "Quantidade", "Largura", "Profundidade", "Altura"]]



display(df_cor_puxador)
display(df_perfil)

# # Filtrar linhas com PERFIL e Tipo == 3
# df_perfil = df[(df["Codigo"].str.contains("PERFIL", case=False, na=False)) & (df["Tipo"] == 3)].copy()

# # Substituir PERFIL por COR PUXADOR na coluna Codigo
# df_perfil["Codigo"] = df_perfil["Codigo"].str.replace("PERFIL", "COR PUXADOR")

Cor do Puxador

Empty DataFrame
Columns: [Codigo]
Index: []

,Codigo,Descricao,Quantidade,Largura,Profundidade,Altura
24,PERFIL_15X15_PRETO,PERFIL 15X15 PRETO,1,1370.0,12.0,25.0
162,124851_PERFIL_LED_COM_CAPA,PERFIL LED COM CAPA,1,1322.0,24.0,9.0
193,124851_PERFIL_LED_COM_CAPA,PERFIL LED COM CAPA,1,1322.0,24.0,9.0
224,124851_PERFIL_LED_COM_CAPA,PERFIL LED COM CAPA,1,1324.0,24.0,9.0
255,124851_PERFIL_LED_COM_CAPA,PERFIL LED COM CAPA,1,1370.0,24.0,9.0
286,124851_PERFIL_LED_COM_CAPA,PERFIL LED COM CAPA,1,1638.0,24.0,9.0
325,124851_PERFIL_LED_COM_CAPA,PERFIL LED COM CAPA,1,1472.0,24.0,9.0
539,PERFIL_15X15_PRETO,PERFIL 15X15 PRETO,1,2646.0,12.0,25.0
562,PERFIL_15X15_PRETO,PERFIL 15X15 PRETO,1,2485.0,12.0,25.0
593,124851_PERFIL_LED_COM_CAPA,PERFIL LED COM CAPA,1,1163.0,24.0,9.0
625,PERFIL_15X15_PRETO,PERFIL 15X15 PRETO,1,3197.0,12.0,25.0
649,124851_PERFIL_LED_COM_CAPA,PERFIL LED COM CAPA,1,1587.0,24.0,9.0
682,124851_PERFIL_LED_COM_CAPA,PERFIL LED COM CAPA,1,1609.0,24.0,9.0
708,PERFIL_15X15_PRETO,PERFIL 15X15 PRETO,1,3243.0,12.0,25.0
739,124851_PERFIL_LED_COM_CAPA,PERFIL LED COM CAPA,1,1624.0,24.0,9.0
793,124851_PERFIL_LED_COM_CAPA,PERFIL LED COM CAPA,1,1324.0,24.0,9.0
847,124851_PERFIL_LED_COM_CAPA,PERFIL LED COM CAPA,1,1293.0,24.0,9.0
871,PERFIL_15X15_PRETO,PERFIL 15X15 PRETO,1,2648.0,12.0,25.0
872,PERFIL_15X15_PRETO,PERFIL 15X15 PRETO,1,34.0,12.0,25.0
911,124851_PERFIL_LED_COM_CAPA,PERFIL LED COM CAPA,1,1083.0,24.0,9.0
944,124851_PERFIL_LED_COM_CAPA,PERFIL LED COM CAPA,1,1586.0,24.0,9.0
970,PERFIL_15X15_PRETO,PERFIL 15X15 PRETO,1,1616.0,12.0,25.0
1013,PERFIL_15X15_PRETO,PERFIL 15X15 PRETO,1,425.0,12.0,25.0
1025,PERFIL_15X15_PRETO,PERFIL 15X15 PRETO,1,717.0,12.0,25.0
1026,PERFIL_15X15_PRETO,PERFIL 15X15 PRETO,1,34.0,12.0,25.0
1102,PERFIL_15X15_PRETO,PERFIL 15X15 PRETO,1,287.0,12.0,25.0
1120,PERFIL_15X15_PRETO,PERFIL 15X15 PRETO,1,955.0,12.0,25.0
1182,124851_PERFIL_LED_COM_CAPA,PERFIL LED COM CAPA,1,1639.0,24.0,9.0
1227,124851_PERFIL_LED_COM_CAPA,PERFIL LED COM CAPA,1,1638.0,24.0,9.0
1272,124851_PERFIL_LED_COM_CAPA,PERFIL LED COM CAPA,1,1639.0,24.0,9.0
1303,PERFIL_15X15_PRETO,PERFIL 15X15 PRETO,1,70.0,12.0,25.0
1314,PERFIL_15X15_PRETO,PERFIL 15X15 PRETO,1,71.0,12.0,25.0
1315,PERFIL_15X15_PRETO,PERFIL 15X15 PRETO,1,34.0,12.0,25.0
1425,PERFIL_15X15_PRETO,PERFIL 15X15 PRETO,1,265.0,12.0,25.0
1435,PERFIL_15X15_PRETO,PERFIL 15X15 PRETO,1,265.0,12.0,25.0
1470,124851_PERFIL_LED_COM_CAPA,PERFIL LED COM CAPA,1,1587.0,24.0,9.0
1501,124851_PERFIL_LED_COM_CAPA,PERFIL LED COM CAPA,1,1602.0,24.0,9.0