In [65]:
import pandas as pd
import numpy as np
import os
import pyodbc
from tkinter import Tk, filedialog

### Caminho para o arquivo

In [66]:
# Cria janela para seleção de arquivo
root = Tk()
root.withdraw() # Esconde a janela vazia
root.attributes('-topmost', True) # Coloca o diálogo na frente

# Seleciona arquivo .MDB
caminho = filedialog.askopenfilename(
    title="Selecione o arquivo .MDB",
    initialdir=r"C:\Users\bruno\Desktop\Desenvolvedor\DevelopmentSystemProject_v2\data\COSTPROCE.MDB",
    filetypes=[("Access Database", "*.MDB"), ("All files", "*.*")]
)

# Verificação se o caminho foi encontrado
if not caminho:
    print("❌Nenhum arquivo foi selecionado.")
    exit()

if not os.path.exists(caminho):
    print(f"O arquivo {caminho} não foi encontrado")
    exit()

print(f"✅Arquivo selecionado {caminho}")

✅Arquivo selecionado C:/Users/bruno/Desktop/OneDrive_1_05-01-2026/COZINHA.MDB

In [67]:
# caminho = r"C:\Users\bruno\Desktop\Desenvolvedor\DevelopmentSystemProject_v2\data\COSTPROCE.MDB"
# if not os.path.exists(caminho):
#     print(f"O arquivo {caminho} não foi encontrado.")
#     exit()
# print("O arquivo foi encontrado com sucesso.")

### Conexão com banco de dados

In [68]:
conexao = (
    r"Driver={Microsoft Access Driver (*.mdb, *.accdb)};"
    rf"DBQ={caminho};"
)
try:
    conexao = pyodbc.connect(conexao)
    print("Conexão bem-sucedida ao banco de dados Access.")

    df = pd.read_sql("SELECT * FROM WORK", conexao)
    df_status = pd.read_sql("SELECT * FROM Status", conexao)
    conexao.close()
    print("Dados carregados com sucesso em um DataFrame.")
except Exception as e:
    print(f"Erro ao conectar ao banco de dados ou carregar os dados: {e}") 
    print(e)

Conexão bem-sucedida ao banco de dados Access.

C:\Users\bruno\AppData\Local\Temp\ipykernel_15928\404845905.py:9: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql("SELECT * FROM WORK", conexao)
C:\Users\bruno\AppData\Local\Temp\ipykernel_15928\404845905.py:10: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df_status = pd.read_sql("SELECT * FROM Status", conexao)

Dados carregados com sucesso em um DataFrame.

### Renomear coluna no banco de dados

In [69]:
df.columns = ['Progressivo', 'ID', 'Nivel', 'Tipo', 'Ordem', 'Codigo', 'Descricao', 'Quantidade', 'Largura', 'Profundidade', 'Altura', 'Preco']
# display(df.head())
# display(df.info())
# display(df.isna().sum())
# display(df.describe())

In [70]:
# tratamento de dados
    # display(df["Código"]),
    # lista_colunas = ["Tipo", "Código", "Descrição", "Quantidade", "Largura", "Profundidade", "Altura", "Preço"]
    # display(df[lista_colunas])
    # display(df[["Tipo", "Código"]])# 1 couxete para selecionar uma coluna e 2 couxete para selecionar uma lista de colunas  

# colunas
    # df_teste = df_nova[["teste", "teste2"]] # maneira de remover alguma coluna, criando um novo df somente com as colunas desejadas
    # df_nova = df_nova.drob(columns=["teste2"]) # maneira de excluir uma unica coluna dentro de seu dataframe

# nulos
    # df_novo = df_novo.dropna() # Exclui todas as linhas que tem um valor vazio
    # df_novo["Teste"] = df_novo["Teste"].fillna("Online") # Preenche os valores vazios com valor usando o metodo .fillna()

# tipos de dados
    # df_novo["Data"] = pd.to_datetime(df_novo["Data"], format="%Y-%m-%d") # Transforma a coluna em formato de data fomatando passando os parametros de data %Y-%m-%d

# padronização
    # df_novo["Loja"] = df_novo["Loja"].str.strip() # Remove os espaços vazio nos textos loja
    # df_novo["Loja"] = df_novo["Loja"].str.title() # Deixa o texto com a primeira letra Caixa alta

# duplicatas
    # df_novo = df_novo.drop_duplicates(subset=["ID_Pedido"])# Remove as duplicadas pelo ID do pedido - comando keep="fist or last" mantem o primeiro o u ultimo duplicado.


# Criar novas colunas 
# Faturamento

    # df_nova["Faturamento"] = df_nova["Quantidade"] * df_nova["Preço"] # Cria uma nova coluna Faturamento com resultado da quantidade * preço

# Forma de venda
    # df_nova["Forma_de_Venda"] = np.where(df_nova["Loja"] == "Online", "Online", "Presencial") # Cria uma coluna Foma_de_Venda usando condicional - si na coluna loja tiver Online, preencher Online, caso contrario Presencial

# regiao
    # display(df_novo["Loja"].unique()) # retorna um array NumPy contendo cada valor distinto encontrado nessa coluna, removendo duplicatas.

    
    # dic_regioes = {
    #     'São Paulo': 'Sudeste',
    #     'Belo Horizonte': 'Sudeste',
    #     'Online': 'Online',
    #     'Rio de Janeiro': 'Sudeste',
    #     'Salvador': 'Nordeste',
    #     'Recife': 'Nordeste',
    #     'Coritiba': 'Sul',
    #     'Porto Alegre': 'Sul',
    # }



    # df_nova["Regirao"] = df_nova["Loja"].map(dic_regioes) # Criando nova coluna mapiando por região

#Verificar se tem alguma coluna com valores vazios
# display(df.isna().sum()) # Verificar se tem alguma coluna com valores vazios

In [71]:
# # Analisar -> filtrar

#     # df = df.sort_values(by="Tipo") # Ordena em formato tipo, pode passar mais de uma coluna / para colocar em ordem decrescente usa o parametro, ascending=False
#     # df = df.reset_index() # Resenta o indice (drop=True) joga o indice antigo fora

# #.loc - Localiza pelo nome da linha e nome da coluna

#     # id_pedido = 4
#     # tipo = df.loc[3, "Tipo"]
#     # codigo = df.loc[3, "Código"]
#     # descricao = df.loc[3, "Descrição"]
#     # print(tipo, codigo, descricao)


# #.iloc

#     # id_pedido = 4
#     # tipo = df.iloc[3, 3]
#     # codigo = df.iloc[3, 5]
#     # descricao = df.iloc[3, 6]

#     # print(tipo, codigo, descricao)

# # condicional

#     # df_id_pedido_4 = df_analise[df_analise["ID_Pedido"] == 4]
#     # df_vendas_2024 = df_analise[df_analise["Data"] >= "2024-01-01"]

# # duplas condições

#     # df_vendas_hdmi_sul = df_analise[(df_analise["Produto"] == "Cabo HDMI") & (df_analise["Região"] == "Sul")]

# # Exportar pedaços da base

#     # df_vendas_sp = df_analise[df_analise["Loja"] == "São Paulo"]
#     # df_vendas_sp.to_csv("Vendas_SP.csv", index=False)
#     # df_tipo_0.to_json("modulos.json", index=False)

# # Analise por agrupamento

#     analise_lojas = df_analise[["Loja", "Faturamento"]].groupby("Loja").sum()

    # Ranking de produto que mais venderam online

    # df_vendas_online = df_analise[["Loja"] == "Online"] # filtra a tabela somente com a coluna loja tiver vendas online
    # analise_produtos_online = df_vendas_online[["Produto", "Qtd"]].groupby("Produto").sum() # cria uma nova tabela apenas com as colunas produto e quantidade das vendas online, agrupadas por produto
    # analise_produtos_online = analise_produtos_online.sort_values(by="Qtd", ascending=False) # filtra a quantidade por ordem decrescente
    # analise_produtos_online = analise_produtos_online.rename(columns={"Qtd" : "Vendas_totais"}) # alterar nome de uma coluna

# Metodo para concatenar uma tabela com outra tabela. este metodo as duas tabelas precisa ter as mesmas colunas, ele só junta tudo
    # df_meta = pd.concat([tabala1, tabela2])

# Metodo merge() Mescla duas tabelas 
    # df_meta = df_meta.merge(df_gerentes, left_on="Loja", right_on="Cidade") #quando que quero pegar a coluna loja de uma tabela e juntar com a coluna cidade de outra tabela
    # df_meta = df_meta.merge(df_gerentes, on="Loja") # quando a coluna loja tem nas duas tabela
    # df_meta = df_meta.merge(df_gerentes, on="Loja", how="left") # metodos avançados usando o parâmetro how="inner" how="left" how="outer"

    # df_meta = df_meta.merge(df_gerentes, on="Loja", how="left")
    # df_meta["Bateu_meta"] = np.where(df_meta["Faturamento"] >= df_meta["Meta_Mensal"], "Sim", "Não")

    # df_analise["Mes-Ano"] = df_analise["Data"].dt.to_period("M") # Função que defini o periodo que quer analisar essa data, mes, dia , ano, trimestre.
    # df_vendas_mes = df_analise[["Mes-Ano", "Faturamento",]].groupby("Mes-Ano").sum()
    # df_vendas_mes.plot() # Exibe em formato de grafico, mas recomendo usar o plotly

### Filtro Ambiente, valor e cliente

In [72]:
valor = df[df["Tipo"] == 0][["Preco"]].copy()
soma_total = valor["Preco"].sum()
valor_total = pd.DataFrame({"Preco":[soma_total]})

df_ambiente = df_status[["WorkCommessa"]].dropna().copy().reset_index(drop=True)
df_ambiente_preco = pd.concat([df_ambiente, valor_total], axis=1)
df_ambiente_preco.columns = ["Ambiente", "Valor"]

nome_cliente = input("Qual o nome do cliente?").upper()
cliente = pd.DataFrame({"Cliente":[nome_cliente]})
df_ambiente_preco = pd.concat([df_ambiente_preco, cliente], axis=1)

df_ambiente_preco.to_json("ambiente.json", indent=2)

display(df_ambiente_preco)

  Ambiente     Valor Cliente
0  COZINHA  110480.1   BRUNO

### Filtra dodos os módulos do banco de dados

In [73]:
df_tipo_0 = df[df["Tipo"] == 0].copy()
df_tipo_0 = df_tipo_0[~df_tipo_0["Descricao"].str.contains("GEOMETRIA", case=False, na=False)]
df_tipo_0 = df_tipo_0[~df_tipo_0["Descricao"].str.contains("BANCADA", case=False, na=False)]
df_tipo_0 = df_tipo_0[["Codigo", "Quantidade", "Largura", "Profundidade", "Altura", "Preco"]]
df_tipo_0 = df_tipo_0.reset_index(drop=True)


df_tipo_0["Quantidade"] = df_tipo_0["Quantidade"].astype(int)
df_tipo_0["Largura"] = df_tipo_0["Largura"].astype(int)
df_tipo_0["Profundidade"] = df_tipo_0["Profundidade"].astype(int)
df_tipo_0["Altura"] = df_tipo_0["Altura"].astype(int)

# df_tipo_0 = df_tipo_0.groupby("Codigo").sum().reset_index(drop=False)

valor_total_modulos = df_tipo_0[["Preco"]].sum()
df_tipo_0["Preco"] = df_tipo_0["Preco"].map("R${:,.2f}".format)


with pd.option_context('display.max_rows', None, 'display.max_columns', None):
    display(df_tipo_0)
display(f"O Valor total dos modulos R$ {valor_total_modulos.sum():,.2f}")
df_tipo_0.to_json("modulos.json", indent=2)

    Codigo  Quantidade  Largura  Profundidade  Altura        Preco
0     PA01           1      200            15    2722     R$537.80
1     PA01           1      822            15     617     R$398.52
2     PA01           1      194            15    2722     R$531.49
3     AV02           1      700           650      55      R$28.05
4   COIL11           1      700           677    1196   R$2,129.19
5     PA01           1      701            15      40      R$46.57
6    COS01           1      700           330     897   R$2,131.91
7     AV02           1     2009           330      85     R$119.20
8     TA02           1     2009           150      30     R$245.03
9    COS01           1      972           350     886   R$2,613.50
10    PP04           1      852           242    2145   R$4,648.89
11    TA02           1      701           150      30      R$76.35
12    TA02           1     2009           335      30     R$632.47
13   COS01           1      972           350     886   R$2,613.67
14    PA01           1     1500            15      65     R$160.27
15    PA01           1      946            15      65      R$98.20
16    PA01           1     1200            15      65     R$125.88
17    TA01           1       18           701     713     R$374.92
18    AV03           1     2731           711     150      R$70.12
19    AV03           1     1200           711     150      R$28.05
20    AV03           1     2109           702     150      R$56.10
21    PA01           1     1807            15    2722   R$3,516.76
22    PA01           1      140            15    2722     R$440.44
23    AV02           1     2176           670      55      R$84.14
24   COD01           1      590           680    2472  R$16,268.68
25   COD01           1      590           680    2472  R$17,232.47
26   COS01           1      960           350     714   R$6,056.29
27    PP04           1      750           242    2145   R$4,309.36
28    PA01           1      720            15     617     R$355.72
29    TA01           1       18           710    2473   R$1,301.20
30    TA01           1       18           710    2473   R$1,301.20
31    TA02           1      961           350      30     R$832.71
32    PA01           1     1235            15      65     R$126.57
33    PA01           1      822            15     628     R$404.71
34    PA01           1      100            15    2738     R$421.20
35    PA01           1      100            15    2738     R$421.20
36    PA01           1      720            15     628     R$362.08
37    PA01           1      100            15    2738     R$421.20
38    PA01           1      100            15    2738     R$444.57
39  COIT04           1     1200           671     648   R$2,846.08
40  COIT01           1     1200           671     648   R$4,525.03
41  COIT04           1     1503           671     648   R$3,577.38
42  COIT08           1      270           662     648   R$5,315.50
43  COIT07           1      965           662     648  R$15,772.60
44  COIT06           1      700           520     324   R$5,767.24
45    PA01           1      273            15    2722     R$709.59

'O Valor total dos modulos R$ 110,480.10'

### Filtrar quantidade de chapas e m²

In [74]:
metro_quadrado_chapa = 5.06
df_tipo_2 = df[df["Tipo"] == 2].copy()
df_tipo_2["Area"] = (df_tipo_2["Largura"] * df_tipo_2["Profundidade"]) / 1000000
df_tipo_2["Codigo"] = df_tipo_2["Codigo"].str.replace("LACA_FOSCA", "BEIGE")
df_tipo_2["Codigo"] = df_tipo_2["Codigo"].str.replace("LACA_BRILHANTE", "BEIGE")
area_total = df_tipo_2.groupby("Codigo")["Area"].sum().reset_index()
area_total = area_total[~area_total["Codigo"].str.contains("30_|33_|36_|45_|54_|60_|SOBRA", case=False, na=False)]
area_total = area_total.round(2)
area_total["Area"] = area_total["Area"] / metro_quadrado_chapa
area_total["Area"] = area_total["Area"].round(1)
qtd_chapa = area_total.rename(columns={"Codigo": "Chapa", "Area": "Quantidade"})
# qtd_chapa["Quantidade"] = qtd_chapa["Quantidade"].astype(int)
qtd_chapa = qtd_chapa.sort_values(by="Quantidade")
qtd_chapa = qtd_chapa.reset_index(drop=True)

qtd_chapa.to_json("quantidade_de_chapas.json", indent=2)

print("Quantidade de Chapa")
display(qtd_chapa)

Quantidade de Chapa

      Chapa  Quantidade
0  25_BEIGE         0.5
1  18_AREAL         1.7
2  18_CACAO         2.6
3  15_CACAO         2.7
4  15_AREAL         3.8
5  15_BEIGE         4.6

### Filtro quantidade de ABS

In [75]:
df_tipo_3 = df[df["Tipo"] == 3].copy()
df_tipo_3 = df_tipo_3[["Codigo", "Largura"]]
df_tipo_3 = df_tipo_3[~df_tipo_3["Codigo"].str.contains("PERFIL|FRISO", case=False, na=False)]
df_tipo_3["Codigo"] = df_tipo_3["Codigo"].str.replace("FITA", "ABS")
df_tipo_3 = df_tipo_3.groupby("Codigo").sum()
df_tipo_3["Largura"] = df_tipo_3["Largura"].astype(int)
qtd_abs = df_tipo_3.rename(columns={"Largura":"Metragem"}).reset_index()
qtd_abs["Metragem"] = qtd_abs["Metragem"] / 1000
qtd_abs["Metragem"] = qtd_abs["Metragem"].round(2)

qtd_abs.to_json("quantidade_de_abs.json", indent=2)

print("Quantidade de ABS")
display(qtd_abs)

Quantidade de ABS

         Codigo  Metragem
0  ABS_AREAL_22     99.20
1  ABS_AREAL_35      3.20
2  ABS_AREAL_63     11.45
3  ABS_BEIGE_22      8.58
4  ABS_BEIGE_35      6.37
5  ABS_CACAO_22    123.29

### Filtro quantidade de ferragens

In [78]:
remover_ferragem = [
    "PERFIL", "VIDRO_4MM", "CABIDEIRO",
    "LACA_FOSCA_XZ", "TESTEIRA", "RAFFINATA",
    "CURVO", "RITRATO", "USINAGEM", "RIPA", "EZDOOR_707100505N",
    "EZDOOR_707300506N", "METALON"]
    
lista_remover_ferragem = "|".join(remover_ferragem)
df_tipo_4 = df[df["Tipo"] == 4].copy()
df_tipo_4 = df_tipo_4[~df_tipo_4["Codigo"].str.contains(lista_remover_ferragem, case=False, na=False)]
df_tipo_4["Codigo"] = df_tipo_4["Codigo"].str.replace("43570_", "")
colunas = ["Codigo", "Quantidade", "Descricao"]
df_tipo_4 = df_tipo_4[colunas]
df_tipo_4 = df_tipo_4.groupby(["Codigo", "Descricao"]).agg({"Quantidade": "sum"}).reset_index()
df_tipo_4 = df_tipo_4.sort_values(by="Codigo")

qtd_ferragens = df_tipo_4
qtd_ferragens.to_json("quantidade_de_ferragens.json", indent=2)


print("Quantidade de Ferragens")
display(qtd_ferragens)

Quantidade de Ferragens

,Codigo,Descricao,Quantidade
0,BIGFER_0402248015,SUPORTE PRATELEIRA,30
1,BLUM_01510476_ZIF.71M0,TBA ADAPTADOR FRONTAL ITB CINZA M E,2
2,BLUM_02778342_ZRG.437RSFC,TBA RELING 500 E,3
3,BLUM_02819465_Z30M000S.04,TBA SUPORTE TRASEIRO M E CINZA,3
4,BLUM_02844068_ZRF.2200.01,FIXAÇÃO FRONTAL RELING,6
5,BLUM_03382044_ZRG.437RSFC,TBA RELING 500 D,3
6,BLUM_03695280_ZSI.500BI3,DIVISOR DE TALHER BLUM ZSI.500BI3N,1
7,BLUM_04791038_ZAA.532C,TBA CAPA DIANTEIRA CINZA,12
8,BLUM_05461045_Z36D0080,TBA ELEMENTO DESIGN D,3
9,BLUM_05652942_Z31L1036A,TBA FRENTE ITB CINZA,2
10,BLUM_06084740_Z30D000S,TBA SUPORTE TRASEIRO C E CINZA,3
11,BLUM_06146813_ZIF.71M0,TBA ADAPTADOR FRONTAL ITB CINZA M D,2
12,BLUM_07267139_Z30D000S,TBA SUPORTE TRASEIRO C D CINZA,3
13,BLUM_07415589_Z30M000S.04,TBA SUPORTE TRASEIRO M D CINZA,3
14,BLUM_07936668_578.5001M,GUIA TANDEMBOX 500 D,6
15,BLUM_07940374_578.5001M,GUIA TANDEMBOX 500 E,6
16,BLUM_07945616_378M5002ST,TBA LATERAL M D CINZA,6
17,BLUM_07948154_378M5002ST,TBA LATERAL M E CINZA,6
18,BLUM_08003614_ZSF.35A2,TBA ADAPTADOR FRONTAL,8
19,BLUM_08611680_ZIF.80M5,TBA PUXADOR ITB,2
20,BLUM_09350503_79B9550,DOBRADICA 95,4
21,BLUM_4243508_75B1550,DOBRADICA CLIP TOP BLUMOTION 107,30
22,BLUM_4427776_70.1503.OGABD,CAPA BRAÇO DOBRADIÇA OG,34
23,BLUM_7480175_173L6100,CALCO DOBRADICA CRUZ,34
24,BLUM_9003173_70T3504,CAPA CANECO DOBRADIÇA,34
25,BLUM_ZSI.500BI3+ZSI.500KI4,DIVISOR DE TALHER BLUM ZSI.500BI3+ZSI.500KI4,1
26,DOBRADICA_PIVOTANTE,DOBRADIÇA PIVOTANTE,2
27,METAL_DESIGN_PROT_ESTUCO_PISO_15MM,PROTETOR DE ESTUCO PISO 15MM,1
28,METAL_DESIGN_PROT_ESTUCO_PRAT_25MM,PROTETOR ESTUCO PRAT 25MM,1
29,PARAFUSO_4x40,PARAFUSO 4x40,242
30,REVEST_VIDRO_8MM_TRANSLUCIDO_COMUM,VIDRO 8MM TRANSLUCIDO COMUM,6

In [81]:
df_perfil = df[df["Codigo"].str.contains("PERFIL|CABIDE|CABIDEIRO|ALINEATTO/VOLARE", case=False, na=False) |
df["Descricao"].str.contains("TRILHO", case=False, na=False)].copy()
df_perfil = df_perfil[~df_perfil["Descricao"].str.contains("PENTEADEIRA", case=False, na=False)]


tem_especial = df_perfil["Codigo"].str.contains("ESPECIAL", case=False, na=False).any()
if tem_especial:
    cor_especial = input("Qual a cor do PERFIL ESPECIAL? ").upper()
    df_perfil["Codigo"] = df_perfil["Codigo"].str.replace("ESPECIAL", cor_especial)
    df_perfil["Descricao"] = df_perfil["Descricao"].str.replace("ESPECIAL", cor_especial)

df_cor_puxador = df_perfil[df_perfil["Tipo"] == 3].copy()
df_cor_puxador["Codigo"] = df_cor_puxador["Codigo"].str.replace("PERFIL", "COR PERFIL")
df_cor_puxador["Descricao"] = df_cor_puxador["Descricao"].str.replace("PERFIL", "COR PERFIL")
df_cor_puxador = df_cor_puxador[["Codigo"]].groupby("Codigo").sum().reset_index(drop=False)
print("Cor do Puxador")

df_perfil = df_perfil[df_perfil["Tipo"] == 4].copy()
df_perfil["Codigo"] = df_perfil["Codigo"].str.replace("15X15", "PAINEL")
df_perfil["Descricao"] = df_perfil["Descricao"].str.replace("15X15", "PAINEL")
df_perfil["Descricao"] = df_perfil["Descricao"].str.replace("ELEGANCE 6504", "SAPATEIRA")
df_perfil["Descricao"] = df_perfil["Descricao"].str.replace(" V ", " ")
df_perfil["Descricao"] = df_perfil["Descricao"].str.replace(" EM Z ", " ")
df_perfil["Descricao"] = df_perfil["Descricao"].str.replace(" COM CAPA", "")
df_perfil["Codigo"] = df_perfil["Codigo"].str.replace("_V_", "_Z_")
df_perfil = df_perfil[["Codigo", "Descricao", "Quantidade", "Largura", "Profundidade", "Altura"]]
df_perfil = df_perfil.sort_values(by="Descricao")


df_perfil_em_z = df_perfil[df_perfil["Codigo"].str.contains("_V_|_Z_", case=False, na=False)].copy()

pedidos_verticale = df[df["Codigo"].str.contains("3446|VIDRO|VEGAS|DONOSTIA|NEO 22", case=False, na=False)].copy()
pedidos_verticale = pedidos_verticale[["Codigo", "Descricao", "Quantidade", "Largura", "Profundidade", "Altura", "ID"]]
portas_em_x = pedidos_verticale[pedidos_verticale["Codigo"].str.contains("_X_", case=False, na=False)].copy()
portas_em_z = pedidos_verticale[pedidos_verticale["Codigo"].str.contains("_Z_", case=False, na=False)].copy()




# display(df_cor_puxador)
# display(df_perfil)
# display(df_perfil_em_z)
display(pedidos_verticale)
display(portas_em_x)
display(portas_em_z)



# # Filtrar linhas com PERFIL e Tipo == 3
# df_perfil = df[(df["Codigo"].str.contains("PERFIL", case=False, na=False)) & (df["Tipo"] == 3)].copy()

# # Substituir PERFIL por COR PUXADOR na coluna Codigo
# df_perfil["Codigo"] = df_perfil["Codigo"].str.replace("PERFIL", "COR PUXADOR")

Cor do Puxador

,Codigo,Descricao,Quantidade,Largura,Profundidade,Altura,ID
347,PERFIL_3446_X_BRONZE,PERFIL 3446 EM X BRONZE,2,586.0,1.0,1.0,233
348,PERFIL_3446_Z_BRONZE,PERFIL 3446 EM Z BRONZE,2,1.0,1.0,2470.0,233
349,REVEST_VIDRO_4MM_REFLECTA_BONZE,VIDRO 4MM REFLECTA BRONZE,1,582.0,4.0,2466.0,233
355,REVEST_PERFIL_VEGAS_X_BRONZE,PERFIL VEGAS EM X BRONZE,10,560.0,1.0,1.0,233
356,REVEST_PERFIL_VEGAS_Y_BRONZE,PERFIL VEGAS EM Y BRONZE,10,1.0,625.0,1.0,233
357,REVEST_VIDRO_4MM_Y_TRANSLUCIDO_CLEAR,VIDRO 4MM Y TRANSLUCIDO CLEAR,5,557.4,622.4,4.0,233
379,PERFIL_3446_X_BRONZE,PERFIL 3446 EM X BRONZE,2,586.0,1.0,1.0,235
380,PERFIL_3446_Z_BRONZE,PERFIL 3446 EM Z BRONZE,2,1.0,1.0,2470.0,235
381,REVEST_VIDRO_4MM_REFLECTA_BONZE,VIDRO 4MM REFLECTA BRONZE,1,582.0,4.0,2466.0,235
387,REVEST_PERFIL_VEGAS_X_BRONZE,PERFIL VEGAS EM X BRONZE,10,560.0,1.0,1.0,235
388,REVEST_PERFIL_VEGAS_Y_BRONZE,PERFIL VEGAS EM Y BRONZE,10,1.0,625.0,1.0,235
389,REVEST_VIDRO_4MM_Y_TRANSLUCIDO_CLEAR,VIDRO 4MM Y TRANSLUCIDO CLEAR,5,557.4,622.4,4.0,235
408,REVEST_PERFIL_VEGAS_X_BRONZE,PERFIL VEGAS EM X BRONZE,2,930.0,1.0,1.0,239
409,REVEST_PERFIL_VEGAS_Y_BRONZE,PERFIL VEGAS EM Y BRONZE,2,1.0,300.0,1.0,239
410,REVEST_VIDRO_4MM_Y_TRANSLUCIDO_CLEAR,VIDRO 4MM Y TRANSLUCIDO CLEAR,1,927.4,297.4,4.0,239
411,PERFIL_3446_X_BRONZE,PERFIL 3446 EM X BRONZE,4,477.0,1.0,1.0,239
412,PERFIL_3446_Z_BRONZE,PERFIL 3446 EM Z BRONZE,4,1.0,1.0,740.0,239
413,REVEST_VIDRO_4MM_REFLECTA_BONZE,VIDRO 4MM REFLECTA BRONZE,2,473.0,4.0,736.0,239
713,REVEST_VIDRO_8MM_TRANSLUCIDO_COMUM,VIDRO 8MM TRANSLUCIDO COMUM,2,8.0,467.0,92.0,310
778,REVEST_VIDRO_8MM_TRANSLUCIDO_COMUM,VIDRO 8MM TRANSLUCIDO COMUM,2,8.0,467.0,92.0,311
832,REVEST_VIDRO_8MM_TRANSLUCIDO_COMUM,VIDRO 8MM TRANSLUCIDO COMUM,2,8.0,467.0,92.0,312

,Codigo,Descricao,Quantidade,Largura,Profundidade,Altura,ID
347,PERFIL_3446_X_BRONZE,PERFIL 3446 EM X BRONZE,2,586.0,1.0,1.0,233
355,REVEST_PERFIL_VEGAS_X_BRONZE,PERFIL VEGAS EM X BRONZE,10,560.0,1.0,1.0,233
379,PERFIL_3446_X_BRONZE,PERFIL 3446 EM X BRONZE,2,586.0,1.0,1.0,235
387,REVEST_PERFIL_VEGAS_X_BRONZE,PERFIL VEGAS EM X BRONZE,10,560.0,1.0,1.0,235
408,REVEST_PERFIL_VEGAS_X_BRONZE,PERFIL VEGAS EM X BRONZE,2,930.0,1.0,1.0,239
411,PERFIL_3446_X_BRONZE,PERFIL 3446 EM X BRONZE,4,477.0,1.0,1.0,239

,Codigo,Descricao,Quantidade,Largura,Profundidade,Altura,ID
348,PERFIL_3446_Z_BRONZE,PERFIL 3446 EM Z BRONZE,2,1.0,1.0,2470.0,233
380,PERFIL_3446_Z_BRONZE,PERFIL 3446 EM Z BRONZE,2,1.0,1.0,2470.0,235
412,PERFIL_3446_Z_BRONZE,PERFIL 3446 EM Z BRONZE,4,1.0,1.0,740.0,239