In [98]:
import pandas as pd
import numpy as np
import os
import pyodbc

In [99]:
caminho = r"C:\Users\bruno\Desktop\Desenvolvedor\DevelopmentSystemProject_v2\data\COSTPROCE.MDB"
if not os.path.exists(caminho):
    print(f"O arquivo {caminho} não foi encontrado.")
    exit()
print("O arquivo foi encontrado com sucesso.")

O arquivo foi encontrado com sucesso.

In [100]:
conexao = (
    r"Driver={Microsoft Access Driver (*.mdb, *.accdb)};"
    rf"DBQ={caminho};"
)
try:
    conexao = pyodbc.connect(conexao)
    print("Conexão bem-sucedida ao banco de dados Access.")

    df = pd.read_sql("SELECT * FROM WORK", conexao)
    conexao.close()
    print("Dados carregados com sucesso em um DataFrame.")
except Exception as e:
    print(f"Erro ao conectar ao banco de dados ou carregar os dados: {e}") 
    print(e)

Conexão bem-sucedida ao banco de dados Access.

C:\Users\bruno\AppData\Local\Temp\ipykernel_28920\2988608602.py:9: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql("SELECT * FROM WORK", conexao)

Dados carregados com sucesso em um DataFrame.

In [101]:
df.columns = ['Progressivo', 'ID', 'Nivel', 'Tipo', 'Ordem', 'Codigo', 'Descricao', 'Quantidade', 'Largura', 'Profundidade', 'Altura', 'Preco']
display(df.head())
display(df.info())
display(df.isna().sum())
# display(df.describe())

,Progressivo,ID,Nivel,Tipo,Ordem,Codigo,Descricao,Quantidade,Largura,Profundidade,Altura,Preco
0,1,10,0,0,1,,GEOMETRIA\rCor criação ambiente: Plastico branco,3,200.0,170.0,650.0,0.0
1,2,19,0,0,1,TA01,TAMPONAMENTO VERTICAL\rEspessura tamponamento:...,1,18.0,540.0,620.0,251.4
2,3,19,1,1,1,TAMPVER001505001000,TAMP VER INF FRE 2_5,1,620.0,540.0,18.0,251.4
3,4,19,2,2,1,18_ORLA,18_ORLA,1,620.0,540.0,18.0,0.0
4,5,19,2,3,1,ABS_ORLA_22,ABS_ORLA_22,1,1160.0,0.0,0.0,0.0

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Progressivo   50 non-null     int64
 1   ID            50 non-null     int64
 2   Nivel         50 non-null     int64
 3   Tipo          50 non-null     int64
 4   Ordem         50 non-null     object
 5   Codigo        50 non-null     object
 6   Descricao     50 non-null     object
 7   Quantidade    50 non-null     int64
 8   Largura       50 non-null     float64
 9   Profundidade  50 non-null     float64
 10  Altura        50 non-null     float64
 11  Preco         50 non-null     float64
dtypes: float64(4), int64(5), object(3)
memory usage: 4.8+ KB

None

Progressivo     0
ID              0
Nivel           0
Tipo            0
Ordem           0
Codigo          0
Descricao       0
Quantidade      0
Largura         0
Profundidade    0
Altura          0
Preco           0
dtype: int64

In [93]:
# tratamento de dados
    # display(df["Código"]),
    # lista_colunas = ["Tipo", "Código", "Descrição", "Quantidade", "Largura", "Profundidade", "Altura", "Preço"]
    # display(df[lista_colunas])
    # display(df[["Tipo", "Código"]])# 1 couxete para selecionar uma coluna e 2 couxete para selecionar uma lista de colunas  

# colunas
    # df_teste = df_nova[["teste", "teste2"]] # maneira de remover alguma coluna, criando um novo df somente com as colunas desejadas
    # df_nova = df_nova.drob(columns=["teste2"]) # maneira de excluir uma unica coluna dentro de seu dataframe

# nulos
    # df_novo = df_novo.dropna() # Exclui todas as linhas que tem um valor vazio
    # df_novo["Teste"] = df_novo["Teste"].fillna("Online") # Preenche os valores vazios com valor usando o metodo .fillna()

# tipos de dados
    # df_novo["Data"] = pd.to_datetime(df_novo["Data"], format="%Y-%m-%d") # Transforma a coluna em formato de data fomatando passando os parametros de data %Y-%m-%d

# padronização
    # df_novo["Loja"] = df_novo["Loja"].str.strip() # Remove os espaços vazio nos textos loja
    # df_novo["Loja"] = df_novo["Loja"].str.title() # Deixa o texto com a primeira letra Caixa alta

# duplicatas
    # df_novo = df_novo.drop_duplicates(subset=["ID_Pedido"])# Remove as duplicadas pelo ID do pedido - comando keep="fist or last" mantem o primeiro o u ultimo duplicado.


# Criar novas colunas 
# Faturamento

    # df_nova["Faturamento"] = df_nova["Quantidade"] * df_nova["Preço"] # Cria uma nova coluna Faturamento com resultado da quantidade * preço

# Forma de venda
    # df_nova["Forma_de_Venda"] = np.where(df_nova["Loja"] == "Online", "Online", "Presencial") # Cria uma coluna Foma_de_Venda usando condicional - si na coluna loja tiver Online, preencher Online, caso contrario Presencial

# regiao
    # display(df_novo["Loja"].unique()) # retorna um array NumPy contendo cada valor distinto encontrado nessa coluna, removendo duplicatas.

    
    # dic_regioes = {
    #     'São Paulo': 'Sudeste',
    #     'Belo Horizonte': 'Sudeste',
    #     'Online': 'Online',
    #     'Rio de Janeiro': 'Sudeste',
    #     'Salvador': 'Nordeste',
    #     'Recife': 'Nordeste',
    #     'Coritiba': 'Sul',
    #     'Porto Alegre': 'Sul',
    # }



    # df_nova["Regirao"] = df_nova["Loja"].map(dic_regioes) # Criando nova coluna mapiando por região

#Verificar se tem alguma coluna com valores vazios
# display(df.isna().sum()) # Verificar se tem alguma coluna com valores vazios

In [94]:
# # Analisar -> filtrar

#     # df = df.sort_values(by="Tipo") # Ordena em formato tipo, pode passar mais de uma coluna / para colocar em ordem decrescente usa o parametro, ascending=False
#     # df = df.reset_index() # Resenta o indice (drop=True) joga o indice antigo fora

# #.loc - Localiza pelo nome da linha e nome da coluna

#     # id_pedido = 4
#     # tipo = df.loc[3, "Tipo"]
#     # codigo = df.loc[3, "Código"]
#     # descricao = df.loc[3, "Descrição"]
#     # print(tipo, codigo, descricao)


# #.iloc

#     # id_pedido = 4
#     # tipo = df.iloc[3, 3]
#     # codigo = df.iloc[3, 5]
#     # descricao = df.iloc[3, 6]

#     # print(tipo, codigo, descricao)

# # condicional

#     # df_id_pedido_4 = df_analise[df_analise["ID_Pedido"] == 4]
#     # df_vendas_2024 = df_analise[df_analise["Data"] >= "2024-01-01"]

# # duplas condições

#     # df_vendas_hdmi_sul = df_analise[(df_analise["Produto"] == "Cabo HDMI") & (df_analise["Região"] == "Sul")]

# # Exportar pedaços da base

#     # df_vendas_sp = df_analise[df_analise["Loja"] == "São Paulo"]
#     # df_vendas_sp.to_csv("Vendas_SP.csv", index=False)
#     # df_tipo_0.to_json("modulos.json", index=False)

# # Analise por agrupamento

#     analise_lojas = df_analise[["Loja", "Faturamento"]].groupby("Loja").sum()

### Filtra dodos os módulos do banco de dados

In [107]:
df_tipo_0 = df[df["Tipo"] == 0].copy()
df_tipo_0 = df_tipo_0[~df_tipo_0["Descricao"].str.contains("GEOMETRIA", case=False, na=False)]
df_tipo_0 = df_tipo_0[["Codigo", "Quantidade", "Largura", "Profundidade", "Altura", "Preco"]]
df_tipo_0 = df_tipo_0.reset_index(drop=True)

df_tipo_0["Quantidade"] = df_tipo_0["Quantidade"].astype(int)
df_tipo_0["Largura"] = df_tipo_0["Largura"].astype(int)
df_tipo_0["Profundidade"] = df_tipo_0["Profundidade"].astype(int)
df_tipo_0["Altura"] = df_tipo_0["Altura"].astype(int)

valor_total_modulos = df_tipo_0[["Preco"]].sum()
df_tipo_0["Preco"] = df_tipo_0["Preco"].map("R${:,.2F}".format)

display(df_tipo_0)
display(f"O Valor total dos modulos R$ {valor_total_modulos.sum():,.2f}")
df_tipo_0.to_json("modulos.json", indent=False)

   Codigo  Quantidade  Largura  Profundidade  Altura       Preco
0    TA01           1       18           540     620    R$251.40
1  BHIT01           1      590           510     620  R$1,978.35

'O Valor total dos modulos R$ 2,229.75'

### Filtrar quantidade de chapas e m²

In [114]:
metro_quadrado_chapa = 5.06
df_tipo_1 = df[df["Tipo"] == 1].copy()
df_tipo_2 = df[df["Tipo"] == 2].copy()
df_tipo_2["Area"] = (df_tipo_2["Largura"] * df_tipo_2["Profundidade"]) / 1000000
area_total = df_tipo_2.groupby("Codigo")["Area"].sum().reset_index()
area_total["Area"] = area_total["Area"] / metro_quadrado_chapa
area_total["Area"] = area_total["Area"].round(1)


display(df_tipo_1)
display(area_total)
# display(df_tipo_2)

,Progressivo,ID,Nivel,Tipo,Ordem,Codigo,Descricao,Quantidade,Largura,Profundidade,Altura,Preco
2,3,19,1,1,1,TAMPVER001505001000,TAMP VER INF FRE 2_5,1,620.0,540.0,18.0,251.40
6,7,20,1,1,1,LATERAL001806000600,LATERAL DIR INF 2_4C_5,1,620.0,510.0,15.0,131.68
9,10,20,1,1,1,LATERAL001506000800,LATERAL ESQ INF 2_4C_5,1,620.0,510.0,15.0,131.68
12,13,20,1,1,1,FUNDOPI015000150585,FUNDO PIA 2_4C_5,1,605.0,150.0,15.0,41.90
15,16,20,1,1,1,FUNDOPI015000150585,FUNDO PIA 2_4C_5,1,605.0,150.0,15.0,41.90
18,19,20,1,1,1,PISOINF066406000015,PISO 2_4C_5,1,560.0,510.0,15.0,111.33
21,22,20,1,1,1,FRONTAL0105000150045,FRONTAL VER 2_4C_5,1,65.0,560.0,18.0,37.71
24,25,20,1,1,1,PRATELEI067005500025,PRATELEIRA 2_5,1,560.0,460.0,25.0,198.45
27,28,20,1,1,1,ARREMATE003500180805,ARREMATE FECHAMENTO _5,1,620.0,35.0,18.0,14.02
29,30,20,1,1,1,REGUAPO005300180800,REGUA PORTA 2_5,1,620.0,35.0,18.0,25.93
32,33,20,1,1,1,PORTADI064600180795,PORTA DIR TURIM 2_3_5,1,570.0,292.0,18.0,143.87
36,37,20,1,1,1,PORTAES064600180795,PORTA ESQ TURIM 2_3_5,1,570.0,292.0,18.0,143.87

     Codigo  Area
0  15_BEIGE   0.2
1   18_ORLA   0.1
2  25_BEIGE   0.1