In [47]:
import pandas as pd
import numpy as np
import os
import pyodbc

In [48]:
caminho = r"C:\Users\bruno\Desktop\Desenvolvedor\DevelopmentSystemProject_v2\data\COSTPROCE.MDB"
if not os.path.exists(caminho):
    print(f"O arquivo {caminho} não foi encontrado.")
    exit()
print("O arquivo foi encontrado com sucesso.")

O arquivo foi encontrado com sucesso.

In [65]:
conexao = (
    r"Driver={Microsoft Access Driver (*.mdb, *.accdb)};"
    rf"DBQ={caminho};"
)
try:
    conexao = pyodbc.connect(conexao)
    print("Conexão bem-sucedida ao banco de dados Access.")

    df = pd.read_sql("SELECT * FROM COSTPROCE", conexao)
    conexao.close()
    print("Dados carregados com sucesso em um DataFrame.")
except Exception as e:
    print(f"Erro ao conectar ao banco de dados ou carregar os dados: {e}") 
    print(e)

Conexão bem-sucedida ao banco de dados Access.
Erro ao conectar ao banco de dados ou carregar os dados: Execution failed on sql 'SELECT * FROM COSTPROCE': ('42S02', "[42S02] [Microsoft][Driver ODBC Microsoft Access] O mecanismo de banco de dados do Microsoft Access não pode localizar a tabela de entrada ou consulta 'COSTPROCE'. Verifique se ela existe e se o nome foi digitado corretamente. (-1305) (SQLExecDirectW)")
Execution failed on sql 'SELECT * FROM COSTPROCE': ('42S02', "[42S02] [Microsoft][Driver ODBC Microsoft Access] O mecanismo de banco de dados do Microsoft Access não pode localizar a tabela de entrada ou consulta 'COSTPROCE'. Verifique se ela existe e se o nome foi digitado corretamente. (-1305) (SQLExecDirectW)")

C:\Users\bruno\AppData\Local\Temp\ipykernel_23068\323784786.py:9: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql("SELECT * FROM COSTPROCE", conexao)

In [85]:
df.columns = ['Progressivo', 'ID', 'Nível', 'Tipo', 'Ordem', 'Código', 'Descrição', 'Quantidade', 'Largura', 'Profundidade', 'Altura', 'Preço']
display(df.head())
display(df.info())
# display(df.describe())

,Progressivo,ID,Nível,Tipo,Ordem,Código,Descrição,Quantidade,Largura,Profundidade,Altura,Preço
0,1,10,0,0,1,,GEOMETRIA\rCor criação ambiente: Plastico branco,3,200.0,170.0,650.0,0.0
1,2,19,0,0,1,TA01,TAMPONAMENTO VERTICAL\rEspessura tamponamento:...,1,18.0,540.0,620.0,251.4
2,3,19,1,1,1,TAMPVER001505001000,TAMP VER INF FRE 2_5,1,620.0,540.0,18.0,251.4
3,4,19,2,2,1,18_ORLA,18_ORLA,1,620.0,540.0,18.0,0.0
4,5,19,2,3,1,ABS_ORLA_22,ABS_ORLA_22,1,1160.0,0.0,0.0,0.0

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Progressivo   50 non-null     int64
 1   ID            50 non-null     int64
 2   Nível         50 non-null     int64
 3   Tipo          50 non-null     int64
 4   Ordem         50 non-null     object
 5   Código        50 non-null     object
 6   Descrição     50 non-null     object
 7   Quantidade    50 non-null     int64
 8   Largura       50 non-null     float64
 9   Profundidade  50 non-null     float64
 10  Altura        50 non-null     float64
 11  Preço         50 non-null     float64
dtypes: float64(4), int64(5), object(3)
memory usage: 4.8+ KB

None

In [ ]:
# tratamento de dados
    # display(df["Código"]),
    # lista_colunas = ["Tipo", "Código", "Descrição", "Quantidade", "Largura", "Profundidade", "Altura", "Preço"]
    # display(df[lista_colunas])
    # display(df[["Tipo", "Código"]])# 1 couxete para selecionar uma coluna e 2 couxete para selecionar uma lista de colunas  

# colunas
    # df_teste = df_nova[["teste", "teste2"]] # maneira de remover alguma coluna, criando um novo df somente com as colunas desejadas
    # df_nova = df_nova.drob(columns=["teste2"]) # maneira de excluir uma unica coluna dentro de seu dataframe

# nulos
    # df_novo = df_novo.dropna() # Exclui todas as linhas que tem um valor vazio
    # df_novo["Teste"] = df_novo["Teste"].fillna("Online") # Preenche os valores vazios com valor usando o metodo .fillna()

# tipos de dados
    # df_novo["Data"] = pd.to_datetime(df_novo["Data"], format="%Y-%m-%d") # Transforma a coluna em formato de data fomatando passando os parametros de data %Y-%m-%d

# padronização
    # df_novo["Loja"] = df_novo["Loja"].str.strip() # Remove os espaços vazio nos textos loja
    # df_novo["Loja"] = df_novo["Loja"].str.title() # Deixa o texto com a primeira letra Caixa alta

# duplicatas
    # df_novo = df_novo.drop_duplicates(subset=["ID_Pedido"])# Remove as duplicadas pelo ID do pedido - comando keep="fist or last" mantem o primeiro o u ultimo duplicado.


# Criar novas colunas 
# Faturamento

    # df_nova["Faturamento"] = df_nova["Quantidade"] * df_nova["Preço"] # Cria uma nova coluna Faturamento com resultado da quantidade * preço

# Forma de venda
    # df_nova["Forma_de_Venda"] = np.where(df_nova["Loja"] == "Online", "Online", "Presencial") # Cria uma coluna Foma_de_Venda usando condicional - si na coluna loja tiver Online, preencher Online, caso contrario Presencial

# regiao
    # display(df_novo["Loja"].unique()) # retorna um array NumPy contendo cada valor distinto encontrado nessa coluna, removendo duplicatas.

    
    # dic_regioes = {
    #     'São Paulo': 'Sudeste',
    #     'Belo Horizonte': 'Sudeste',
    #     'Online': 'Online',
    #     'Rio de Janeiro': 'Sudeste',
    #     'Salvador': 'Nordeste',
    #     'Recife': 'Nordeste',
    #     'Coritiba': 'Sul',
    #     'Porto Alegre': 'Sul',
    # }



    # df_nova["Regirao"] = df_nova["Loja"].map(dic_regioes) # Criando nova coluna mapiando por região

#Verificar se tem alguma coluna com valores vazios
display(df.isna().sum()) # Verificar se tem alguma coluna com valores vazios

Progressivo     0
ID              0
Nível           0
Tipo            0
Ordem           0
Código          0
Descrição       0
Quantidade      0
Largura         0
Profundidade    0
Altura          0
Preço           0
dtype: int64

In [ ]:
# Analisar -> filtrar

#.loc

#.iloc

# condicional

# Exportar pedaços da base